﻿<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />

<style>
    .grid {
        width: 73%;
        height: 560px;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-line;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script type="text/javascript">

    function StatementDetails($rootScope, $scope, $http) {
             $scope.rowClick = function (row) {
                    $http.post("@Url.Action("GetVendorList", "CreditHold")" + "?APRepId=" + row.entity.APRepID).then(function (Result) {
                        if (Result.data) {
                            $rootScope.VendorList = Result.data;
                        }
                    }) ;
                 document.getElementById("DeltaLogId").value = row.entity.Id;
                 $rootScope.Id = row.entity.Id;
                    document.getElementById("APRepId").value = row.entity.APRepID;
                  //  document.getElementById("VendorId").value = row.entity.VendorId;

                 var ddlvendor = document.getElementById("VendorId");
                   ddlvendor.options[ddlvendor.selectedIndex].text = row.entity.VendorName;
                 document.getElementById("HinddenVendorId").value = row.entity.VendorId;
                 document.getElementById("OrignalHinddenVendorId").value = row.entity.VendorId;
                    document.getElementById("ShiftId").value = row.entity.ShiftId;
                    document.getElementById("ShiftName").value = row.entity.ShiftName;
                    document.getElementById("PODId").value = row.entity.PODId;
                    document.getElementById("PODName").value = row.entity.PODName;
                    document.getElementById("SupervisorId").value = row.entity.SupervisorId;
                    document.getElementById("SupervisorName").value = row.entity.SupervisorName;
                    document.getElementById("StatementRequestedDate").value = row.entity.DisplayStatementRequestedDate;
                    document.getElementById("StatementReceivedDate").value = row.entity.DisplayStatementReceivedDate;
                 document.getElementById("StatementMatchCompleteDate").value = row.entity.DisplayStatementMatchCompleteDate;
                 document.getElementById("SettlementDate").value = row.entity.DisplaySettlementDate;
                 $rootScope.IsDataUpdating = true;

                 $("#StatementReceivedDate").datepicker('option', 'minDate', $("#StatementRequestedDate").val());
                 $("#StatementMatchCompleteDate").datepicker('option', 'minDate', $("#StatementReceivedDate").val());
                 //$("#SettlementDate").datepicker('option', 'minDate', $("#StatementMatchCompleteDate").val());
                 $("#SettlementDate").datepicker();
             };

            var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
                ' <div ng-click="grid.appScope.rowClick(row)">{{COL_FIELD}}</div>' +
                '</div>';

        $rootScope.gridOptions = {
                enableFiltering: true,
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
            columnDefs: [
                { field: 'APRepName', name: 'APRep Name        ', cellTemplate: selectionCellTemplate, width: 140 },
                    { field: 'VendorName', name: 'Vendor Name       ', cellTemplate: selectionCellTemplate, width: 120 },
                { field: 'VendorNumber', name: 'Vendor Number      ', cellTemplate: selectionCellTemplate, cellClass: 'rightalign', width: 140, type: 'number' },
                    
                    { field: 'SupervisorName', name: 'Supervisor Name', cellTemplate: selectionCellTemplate, width: 160 },
                    { field: 'APRepID', displayName: 'APRepID', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'VendorId', displayName: 'VendorId', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'ShiftId', displayName: 'Shift', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'ShiftName', displayName: 'ShiftName', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'PODId', displayName: 'PODId', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'PODName', displayName: 'PODName', cellTemplate: selectionCellTemplate, visible: false }, 
                    { field: 'SupervisorId', displayName: 'SupervisorId', cellTemplate: selectionCellTemplate, visible: false }, 
                  
                    { field: 'DisplayStatementRequestedDate', name: 'Statement Requested Date', width: 170, cellClass: 'centerright' },
                    { field: 'DisplayStatementReceivedDate', name: 'Statement Received Date', width: 180, cellClass: 'centerright' },
                    { field: 'DisplayStatementMatchCompleteDate', name: 'Statement Match Complete Date', width: 170, cellClass: 'centerright' },
                     { field: 'DisplaySettlementDate', displayName: 'DisplaySettlementDate', cellTemplate: selectionCellTemplate, visible: false }

                ]
            };

       @*$http.post("@Url.Action("GetStatementReceiptData", "StatementReceipts")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });*@
    }
    DeltaApp.controller("StatementDetails", StatementDetails);
</script>

<div ng-app="DeltaApp">
    <div class="row" style="margin-left:0">
        <h2 class="Title">Statement Details</h2>
    </div>

    <div id="dvStatement" ng-controller="StatementDetails">
        <div id="dvStatementDt" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-edit class="grid"></div>
    </div>
</div>

