﻿<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />

<style>
    .grid {
        width: 90%;
        height: 560px;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-line;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script type="text/javascript">

    function CreditHoldStatus($rootScope, $scope, $http) {

        $scope.rowClick = function (row) {

            $http.post("@Url.Action("GetVendorList", "CreditHold")" + "?APRepId=" + row.entity.APRepID).then(function (Result) {
                if (Result.data) {
                    $rootScope.VendorList = Result.data;
                    document.getElementById("VendorId").value = row.entity.VendorId;
                }
            });
           

            $rootScope.VendorId = row.entity.VendorId
            document.getElementById("DeltaLogId").value = row.entity.Id;
            $rootScope.Id = row.entity.Id;
            document.getElementById("APRepId").value = row.entity.APRepID;
     
            var ddlvendor = document.getElementById("VendorId");
            ddlvendor.options[ddlvendor.selectedIndex].text = row.entity.VendorName;
            document.getElementById("HinddenVendorId").value = row.entity.VendorId;
            document.getElementById("OrignalHinddenVendorId").value = row.entity.VendorId;
            document.getElementById("ShiftId").value = row.entity.ShiftId;
            document.getElementById("ShiftName").value = row.entity.ShiftName;
            document.getElementById("PODId").value = row.entity.PODId;
            document.getElementById("PODName").value = row.entity.PODName;
            document.getElementById("SupervisorId").value = row.entity.SupervisorId;
            document.getElementById("SupervisorName").value = row.entity.SupervisorName;
            document.getElementById("CreditHoldOnDate1").value = row.entity.DisplayCreditHoldOn;
            document.getElementById("CreditHoldOffDate1").value = row.entity.DisplayCreditHoldOff;
            document.getElementById("Duration").value = row.entity.DurationOfCreditHold;
            document.getElementById("CurrStatus").value = row.entity.CurrentStatus == null ? "" : row.entity.CurrentStatus; 

            var ddl = document.getElementById("ddlReasonCreditHold");

            if (row.entity.ReasonforCredithold != null) {
                if (row.entity.ReasonforCredithold.indexOf("Other") >= 0) {
                    ddl.options[ddl.selectedIndex].text = "Other";
                    $rootScope.Reason = 0;
                    document.getElementById("ReasonforCredithold").value = row.entity.ReasonforCredithold.split("-")[1];
                } else {
                    $rootScope.Reason = 1;
                    ddl.options[ddl.selectedIndex].text = row.entity.ReasonforCredithold;
                    document.getElementById("ReasonforCredithold").value = "";
                }
            }
            else {
                $rootScope.Reason = 1;
                ddl.options[ddl.selectedIndex].text = "- Select Reason -";
            }

            document.getElementById("ActionPlanToPreventCredithold").value = row.entity.ActionPlanToPreventCredithold == null ? "" : row.entity.ActionPlanToPreventCredithold ;

            $rootScope.IsDataUpdating = true;           

            var HoldOn = new Date($("#CreditHoldOnDate1").val());

            $("#CreditHoldOffDate1").datepicker('option', 'minDate', HoldOn);
        };

        var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
            ' <div ng-click="grid.appScope.rowClick(row)">{{COL_FIELD}}</div>' +
            '</div>';

        $rootScope.gridOptions = {
            enableFiltering: true,
           enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
           enableRowHeaderSelection: false,
           enableRowSelection: true,
           multiSelect: false,
           noUnselect: true,

            columnDefs: [
                { field: 'APRepName', name: 'ApRep Name  ', cellTemplate: selectionCellTemplate, width: 145 },
                { field: 'VendorName', name: 'Vendor Name       ', cellTemplate: selectionCellTemplate, width: 145 },
                { field: 'VendorNumber', name: 'Vendor Number      ', cellTemplate: selectionCellTemplate, cellClass: 'rightalign', width: 155, type: 'number' },                  
                { field: 'SupervisorName', name: 'Supervisor Name', cellTemplate: selectionCellTemplate, width: 165 },
                { field: 'DisplayCreditHoldOn', name: 'Date of Notified on                                  Credit Hold', cellTemplate: selectionCellTemplate, cellClass: 'centerright', width: 270 },
                { field: 'DurationOfCreditHold', name: 'Duration On                                             Hold (days)', cellTemplate: selectionCellTemplate, cellClass: 'rightalign', width: 215 },
                { field: 'APRepID', displayName: 'APRepID', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'VendorId', displayName: 'VendorId', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'ShiftId', displayName: 'Shift', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'ShiftName', displayName: 'ShiftName', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'PODId', displayName: 'PODId', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'PODName', displayName: 'PODName', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'SupervisorId', displayName: 'SupervisorId', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'DisplayCreditHoldOff', displayName: '', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'ReasonforCredithold', displayName: '', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'ActionPlanToPreventCredithold', displayName: '', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'CurrentStatus', displayName: 'Current Status', cellTooltip: true, cellTemplate: selectionCellTemplate, width: 300  }
           ],

           onRegisterApi: function (gridApi) {
               $rootScope.grid1Api = gridApi;
           }
        };

    }

    DeltaApp.controller("CreditHoldStatus", CreditHoldStatus);
</script>


<div ng-app="DeltaApp">
    <div class="row" style="margin-left:0">
        <h2 class="Title">Credit Hold Details</h2>
    </div>
    <div id="CHStatus" ng-controller="CreditHoldStatus">
        <div id="cHoldStatus" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
    </div>
</div>


