﻿
@{
    ViewBag.Title = "Credit Hold History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 73%;*/
        width: 97%;
        height: 560px;
    }
    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }
    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function CreditHoldHistory($scope, $http) {
        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            columnDefs: [
                { field: 'VendorName', name: 'Vendor Name        ' ,width:150},
                { field: 'VendorNumber', name: 'Vendor Number      ', cellClass: 'ngHeaderText rightalign', width: 150, type: 'number' },
                { field: 'APRepName', name: 'AP Rep Name       ', width: 150},
                { field: 'SupervisorName', name: 'Supervisor Name', width: 150},
                { field: 'DisplayCreditHoldOn', name: 'Date on                Credit Hold', cellClass: 'ngHeaderText centerright', width: 150 },
                { field: 'DisplayCreditHoldOff', name: 'Date off                 Credit Hold', cellClass: 'ngHeaderText centerright', width: 150},
                { field: 'DurationOfCreditHold', name: 'Duration (days)', cellClass: 'ngHeaderText rightalign', width: 100},
                { field: 'ReasonforCredithold', name: 'Reason for Credit Hold', width: 200, cellTooltip: true },
                { field: 'ActionPlanToPreventCredithold', name: 'Action Plan to Prevent Future Credit Hold         ', width: 250, cellTooltip: true },
                { field: 'AproverName', name: 'Approved By', width: 120 },
                { field: 'DisplayApprovedDate', name: 'Approved Date     ', width: 150, cellClass: 'ngHeaderText centerright' }
            ]

            //columnDefs: [
            //    { field: 'VendorName', name: 'Vendor Name ' },
            //    { field: 'VendorNumber', name: 'Vendor Number ', cellClass: 'ngHeaderText rightalign', type: 'number' },
            //    { field: 'APRepName', name: 'AP Rep Name       ' },
            //    { field: 'SupervisorName', name: 'Supervisor Name'},
            //    { field: 'DisplayCreditHoldOn', name: 'Date on Credit Hold', cellClass: 'ngHeaderText centerright' },
            //    { field: 'DisplayCreditHoldOff', name: 'Date off Credit Hold', cellClass: 'ngHeaderText centerright' },
            //    { field: 'DurationOfCreditHold', name: 'Duration (days)', cellClass: 'ngHeaderText rightalign' },
            //    { field: 'ReasonforCredithold', name: 'Reason for Credit Hold' },
            //    { field: 'ActionPlanToPreventCredithold', name: 'Action Plan to Prevent Future Credit Hold' }
            //]
        };

        $http.post("@Url.Action("GetCreditHistoryHoldData", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });
    }
    DeltaApp.controller("CreditHoldHistory", CreditHoldHistory);
</script>

<div ng-app="DeltaApp">
    <div class="row Header" style="margin-left:0">
        <h2 class="Title">Credit Hold History</h2>
    </div>
    <div id="CHHistory" ng-controller="CreditHoldHistory">
        <div id="cHoldHistory" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
    </div>
</div>


