﻿
@{
    ViewBag.Title = "Credit Hold Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 55%;*/
        width: 94%;
        height: 560px;
    }
    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }
    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function CreditHoldStatus($scope, $http) {
       $scope.gridOptions = {
           enableFiltering: true,
           enableSorting: true,
           paginationPageSizes: [15, 25, 50],
           paginationPageSize: 15,
           enableRowHeaderSelection: false,
           enableRowSelection: true,
           multiSelect: false,
           noUnselect: true,
           columnDefs: [
               { field: 'VendorNumber', name: 'Vendor Number      ', cellClass: 'ngHeaderText rightalign', type: 'number', width: 180 },
               { field: 'VendorName', name: 'Vendor Name         ', width: 200},
               { field: 'APRepName', name: 'APRep Name       ', width: 200},
               { field: 'SupervisorName', name: 'Supervisor Name', width: 180},
               { field: 'DisplayCreditHoldOn', name: 'Date of Notification on Credit Hold', cellClass: 'ngHeaderText centerright', width: 290},
               { field: 'DurationOfCreditHold', name: 'Duration On Hold (days)', cellClass: 'ngHeaderText rightalign', type: 'number', width: 220 },
               { field: 'CurrentStatus', name: 'Current Status', width: 300, cellTooltip: true }
           ]
        };

        $http.post("@Url.Action("GetCreditHoldData", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });
    }
    DeltaApp.controller("CreditHoldStatus", CreditHoldStatus);
</script>

<div ng-app="DeltaApp">
    <div class="row Header" style="margin-left:0">
        <h2 class="Title">Credit Hold Status</h2>
    </div>

    <div id="CHStatus" ng-controller="CreditHoldStatus">
        <div id="cHoldStatus" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection    class="grid"></div>
    </div>
</div>

<br /> <br /> <br />

