﻿/*-----------------Button Size---------------*/

.disablediv {
    opacity: 0.6;
    pointer-events: none;
}

.borderSection {
    border: 1px solid #d4cfcf;
    margin: 0px 0px 10px 5px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background-color: #97d4e8;
}

.ui-grid-pager-panel {

    padding-bottom: 0px;
}

.rightalign {
    text-align: right;
}

.centerright {
    text-align: center;
}
.rightbuffer {
    padding-right: 5%;
}

.enablediv {
    pointer-events: visible;
}

.redcolorText {
    color: #b90032;
}

a:hover {
    color: #b90032;
}

/*.redcolorText a:visited {
    color: #A10025;
}*/

body .ui-grid-header-viewport {
    width: 1600px;
    background-color: #d2362c;
    color: #fff;
}

.btnPadding {
    padding: 6px 8px 6px 7px !important;
}

.btnPriStandard {
    font-size: 16px;
    /*padding: 6px 26px 6px 26px;*/
    border-radius: 4px;
    border: 1px solid #d1362b;
    background-color: #d1362b;
    color: #fff;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    padding: 5px 14px 6px 15px;
    width: 89px;
}

    .btnPriStandard:hover {
        background-color: #333;
        border: 1px solid #333;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

.btnSecStandard {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #3f4244;
    padding: 6px 20px 6px 20px;
    margin: 10px 5px 10px 12px;
    text-decoration: none;
}

    .btnSecStandard:hover {
        background-color: #eee;
        border: 1px solid #bfbfbf;
        text-decoration: none;
        color: #3f4244;
        cursor: pointer;
    }

.disableStandard {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    color: #3f4244;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
    padding: 5px 14px 6px 15px;
}

.disableDropDownStandard {
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    color: #3f4244;
    text-decoration: none;
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.btnPriLarge {
    font-size: 18px;
    padding: 14px 30px 14px 30px;
    border-radius: 4px;
    border: 1px solid #b90032;
    background-color: #b90032;
    color: #fff;
    margin: 10px;
}

    .btnPriLarge:hover {
        background-color: #333;
        border: 1px solid #333;
        color: #fff;
        cursor: pointer;
    }

.btnSecLarge {
    font-size: 18px;
    padding: 14px 30px 14px 30px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #3f4244;
    margin: 10px;
}

    .btnSecLarge:hover {
        background-color: #eee;
        border: 1px solid #bfbfbf;
        color: #3f4244;
        cursor: pointer;
    }

.btnPriSmall {
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    border: 1px solid #b90032;
    background-color: #b90032;
    color: #fff;
    margin: 10px 5px 10px 5px;
}

    .btnPriSmall:hover {
        background-color: #333;
        border: 1px solid #333;
        cursor: pointer;
    }

.btnSecSmall {
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #3f4244;
    margin: 10px 5px 10px 5px;
}

    .btnSecSmall:hover {
        background-color: #eee;
        border: 1px solid #bfbfbf;
        cursor: pointer;
    }

.btnsmalldisable {
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    color: #3f4244;
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.btnlargedisable {
    font-size: 18px;
    padding: 14px 30px 14px 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    color: #3f4244;
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.scrollbar {
    height: 600px;
    background: #f9f9f9;
}

/*---------------- Body ---------------*/
.custombody {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    /*color: #646569;*/
    min-height: 90%;
    margin: 0;
    /*background-image: url(Images/LoginCenterImag.jpg);
    background-repeat: no-repeat;
    background-position: center;*/
}

/*.fullcontent {
    height: 90%;
}*/

.mainContainer {
    /*margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;*/
    Padding-left: 6%;
    padding-right: 6%;
    background-color: #fdfdfd4a;
    /*padding-bottom: 5%;*/
    /*min-height:100%;*/
}

.Custometooltip {
    position: relative;
    /*display: inline-block;*/
}

    .Custometooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        color: #333;
        text-align: left;
        border-radius: 6px;
        font-size: 10px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 112%;
        left: 50%;
        margin-left: -30px;
        opacity: 0;
        transition: opacity 1s;
    }

        .Custometooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .Custometooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.Hourglass {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    height: 400px;
    margin-top: -200px;
    width: 600px;
    margin-left: -200px;
}
/* ---------------- Top Bar -------------------*/
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

/*a:visited {
    color: #A10025;
}*/
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.rowSpace {
    margin-top: 5%;
}

.top-buffer {
    margin-top: 10px;
}

.customInput {
    height: 40px;
}

.Header {
    margin-bottom: 20px;
    margin-top: 30px;
}

.Title {
    font-size: 28px;
    font-weight: 700;
    color: #d4362e;
    margin-bottom: 15px;
}

.TitlePenCom {
    font-size: 20px;
    font-weight: 700;
    color: #d4362e;
    margin-bottom: 15px;
}

.heading {
    margin-left: 15px;
}

.boxheading {
    margin-top: -3%;
}

.dropdown.open .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-top: 0px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown.open .topbarmenu {
    text-decoration: underline;
    color: #d1362b;
}

.topbardropdown {
    padding-bottom: 0;
    padding-top: 5px;
    color: #d1362b;
}

.Navigation {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.topbarright {
    text-align: right;
    top: 0;
    padding-right: 5px;
}

.topbarmenu {
    color: #d1362b;
    /* Roboto-Bold*/
    font-weight: 600;
}

    .topbarmenu:hover {
        text-decoration: underline;
        color: #c8222b;
    }

#logout {
    margin-left: 30px;
}

.topbarList {
    border-bottom: 2px solid #dad2d2;
    padding: 5px
}

.topbar {
    /*border-bottom: 1px solid #c9c9c9;*/
    padding-right: 6%;
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: #fff;
}

/*#logo {
    background-image: url("Images/TIMlogo.jpg");
    width: 260px;
    height: 40px;
    position: relative;
    top: 20px;
}*/
.logo {
    height: 65px;
    margin-top: 10px;
}

.errorbox {
    border: 1px solid #fbd8d7;
    /* vertical-align: middle; */
    padding: 10px;
    background-color: #fdebeb;
    border-radius: 5px;
}

.wideButton {
    /*padding: 10px 50px 10px 50px;
    margin-top: 0px*/
    padding: 8px 24px 8px 24px;
    margin-top: 1px;
}

.Righttext {
    text-align: right;
}

.rightlable {
    padding-right: 12px;
}
/*---------------- Top Menus---------------*/

.topLink li a {
    width: 180px;
    color: #d1362b;
    text-align: center;
}

    .topLink li a:hover {
        font-weight: 700;
        color: #fff;
        background-color: #d2362c;
        /* border-radius: 3px; */
        top: 1px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

.topLink li.active {
    color: #6e983c;
    border: 1px solid #d1362b;
    background-color: #d1362b;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* Raleway-Bold*/
    font-weight: 700;
    top: 1px;
}

.topLink li a.active {
    /* Raleway-Bold*/
    font-weight: 700;
    color: #fff;
    background-color: #d2362c;
}

/*.topLink li a:visited {
    color: #A10025;
}*/

.topmenus {
    padding-left: 5%;
    padding-right: 6%;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}

/*#logout a:visited {
    color: #A10025;
}*/
.menucolapusbutton {
    margin-top: -35px;
    background-color: #d1362b;
    color: #fff;
    font-size: 32px;
    padding-bottom: 0px;
    padding-top: 12px;
}

/*----------------------- Page header Tab -------------------------*/
.tabbar {
    background-color: #d1362b;
    margin-top: 15px;
    color: #c9c9c9;
    /*font-size: 18px;*/
}

    .tabbar a {
        color: #c8222b;
        /* Raleway-Bold*/
        font-weight: 700;
    }

/*  ----------- Bottom Navigations ------------------*/
.rightsidelinks {
    padding-right: 3%;
}

.footermargin {
    margin-top: 0px;
}

.footerPossition {
    top: 0;
}

.footer-bottom {
    /*min-height: 30px;*/
    position: relative;
    width: 100%;
    bottom: -10px;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 1px solid #c9c9c9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f6f9f3;
    text-align: center;
    position: fixed;
    /*z-index: 9999;*/
}

.showpassword {
    width: auto;
}

.copyright {
    color: #646569;
    /*line-height: 30px;
    min-height: 30px;*/
    text-align: left;
    font-size: 16px;
    /*margin-top: 25px;*/
}

    .copyright span {
        display: inline;
    }

#EasyLink {
    color: #646569;
    line-height: 30px;
    min-height: 30px;
    text-align: right;
}

#EasyLinkNo {
    font-family: sans-serif;
}

@media only screen and (max-width: 992px) {
    #EasyLink {
        text-align: left !important;
    }

    .contact {
        text-align: left !important;
    }

    .rightsidelinks {
        padding-left: 5%;
        float: left !important;
    }
}

.contact {
    color: #c8222b;
    line-height: 30px;
    min-height: 30px;
    /*padding: 7px 0;*/
    text-align: right;
    font-family: sans-serif;
}

    .contact a {
        color: #c8222b;
    }

/*.contact a:visited {
            color: #A10025;
        }*/

.SupportLinksblock {
    text-align: left;
}

.SupportLinks {
    color: #c8222b;
    line-height: 30px;
    min-height: 30px;
    /*padding: 7px 0;*/
    font-family: sans-serif;
}

    .SupportLinks a {
        color: #c8222b;
    }

/*.SupportLinks a:visited {
            color: #A10025;
        }*/


.buttonmargin {
    margin-left: -15%;
}


.Box {
    margin-bottom: 2%;
    padding: 0px 20px 0px 18px;
}

.tileBox {
    /*height: 168px;
    padding-top: 0px;
    padding: 2px 108px 0px 22px;
    width: 388px;*/

    height: 168px;
    padding-top: 0px;
    padding: 0px 0px 0px 22px;
    width: 350px;
    
    /*height: 168px;
    padding-top: 0px;
    padding: 2px 10px 0px 22px;
    width: 315px;*/
}

.OrderboxRow {
    text-align: center;
    /* padding: 30%; */
    background-color: #2355a5;
    border: 1px solid #2355a5;
    border-radius: 5px;
    height: 150px;
    padding-top: 38px;
}

    .OrderboxRow h2 {
        color: #fff;
        /*font-weight: 900;*/
        font-size: 20px;
    }

    .OrderboxRow:hover {
        background-color: #ec6b01;
        color: #fff;
    }

    .OrderboxRow img {
        height: 80px;
    }

@media (max-width:1414px) and (min-width:992px) {
    .OrderboxRow {
        height: 150px;
    }
}


.Orderbox {
    text-align: center;
    /* padding: 30%; */
    background-color: #003589;
    border: 1px solid #053182;
    border-radius: 5px;
    height: 150px;
    padding-top: 38px;
}

    .Orderbox:hover {
        background-color: #ec6b01;
        color: #fff;
    }

.textdecoration {
    text-decoration: none;
    color: #000;
}

.textdecoration:hover{
    text-decoration: none;
    
}

.Orderbox h2 {
    color: #fff;
    /*font-weight: 900;*/
    font-size: 20px;
}

.Orderbox img {
    height: 80px;
}



@media (max-width:1414px) and (min-width:992px) {

    .Orderbox {
        height: 150px;
    }
}

@media only screen and (max-width:1477px) {
    .bottomrowsize {
        width: 100%;
    }

    /*.footermargin {
        margin-top: -30px;
    }*/

    .footerPossition {
        top: 30px;
    }
}

@media only screen and (max-width:1236px) {
    .topLink li a {
        width: 132px;
        font-size: 14px;
    }
}

@media (max-width:1200px) and (min-width:992px) {

    .buttonmargin {
        margin-left: -10%;
    }

    .Searchbuttonmargin {
        margin-left: -5%;
    }
}
/* Reposive classes*/
@media only screen and (max-width:992px) {
    .SupportLinksblock {
        width: 50%;
        float: left;
    }

    .OrderSupplies {
        width: 50%;
        float: left;
        position: relative;
        /* overflow: auto; */
        z-index: 999
    }

    .CollageStoreDesign {
        width: 50%;
        float: left;
        position: relative;
        /* overflow: auto; */
        z-index: 999
    }

    /*.topbarright {
        text-align: right;
        top: -35px;
        margin-bottom: -35px;
    }*/

    .footer-bottom {
        /*min-height: 30px;
        position: relative;
        bottom: -288px;*/
        padding-left: 5%;
        padding-right: 8%;
        border-top: 1px solid #c9c9c9;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #fff;
        text-align: center;
    }

    .btnPriStandard {
        margin: 5px;
    }

    .copyright {
        margin-bottom: 10px;
        margin-top: 10px
    }
}
/*@media (max-width:824px) and (min-width:768px) {

    .topLink li a {
        width: 130px;
    }

        .topLink li a:hover {
            width: 130px;
        }

    .topLink li.active {
        width: 130px;
    }
}*/
@media only screen and (max-width:766px) {
    #logo {
        background-image: url("Images/Logo.svg");
        width: 46px;
        height: 40px;
    }

    .topLink li a {
        width: 100%;
        padding-right: 70px;
        color: black;
        text-align: right;
    }

        .topLink li a:hover {
            border-radius: 4px;
            border: 1px solid #c9c9c9;
        }

    .topLink li.active {
        border-radius: 4px;
        border: 1px solid #c9c9c9;
    }



    .topbarright {
        padding-right: 0px;
        padding-left: 50px;
    }
}


@media only screen and (max-width:1090px) {
    .center-block {
        width: 360px;
        height: 148px;
    }
}

@media only screen and (max-width: 546px) {
    .SupportLinksblock {
        width: 100%;
        padding-left: 25px;
    }

    .copyright {
        padding-left: 15px;
    }

    .footer-bottom {
        /*padding-left: 5%;
        padding-right: 5%;*/
        margin-top: 20px;
    }
}

@media only screen and (max-width:371px) {
    .showpassword {
        width: 130px;
    }

    .Trackbutton {
        width: 130.78px;
        margin-left: 1px;
    }
}

@media only screen and (max-width:375px) {

    .footer-bottom {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 20px;
    }

    .copyright {
        padding-left: 0px;
    }

    .SupportLinksblock {
        padding-left: 10px;
    }
}

@media only screen and (max-width:300px) {

    .Trackbutton {
        width: 130.78px;
        margin-left: 1px;
    }
}

/*@media only screen and (max-width: 1400px) {
    .pendingTblHeight {
        height: 518px !important;
    }
}*/
