﻿
/* Fix for Bootstrap 3 with Angular UI Bootstrap */
.custombody {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500; 
    color: #646569;
    min-height:90%;
}
.textboxtopmargin {
    margin-top: 5px;
}

.sentmsgPadding {
    padding-top: 30px;
}
.errorbox {
    border: 1px solid #fbd8d7;
    /* vertical-align: middle; */
    padding: 10px;
    background-color: #fdebeb;
    border-radius: 5px;
}
.waitCursor {
    cursor: wait;
    z-index: 9999;
} 

.fullcontent {
    height: 90%;
}


.customContainer {
    padding-left: 7%;
    padding-right: 7%;
}

.topbar {
    padding-bottom: 120px;
    padding-left: 10%;
}

.Box {
    margin-bottom: 5%;
    margin-top: -1%;
}

.showpassword{
    width:auto;
}



input, select, textarea {
    max-width: 100%;
}

.loginimag {
    width: 85%;
    height: auto;
}
.Header {
    margin-bottom: 2%;
}
.modal {
    display: block;
}
/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}

    .dialog-header-error span, .dialog-header-error h4 {
        color: #ffffff;
    }

.pad {
    padding: 50px;
}
.Loginbox {
    text-align: left !important;
    padding: 20px 40px;
    background-color: #97d4e8;
    border: 1px solid #053182;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}


    .Loginbox:hover {
        background-color: #97d4e8;
        border: 1px solid #053182;
        color: #000;
    }
.Header div h1 {
    font-weight: 700;
}



@media only screen and (max-width:1090px) {
   #logo
   {
       top:0px;
   }
}
@media only screen and (max-width:991px) {
    .logintopbar {
        padding-bottom: 15px;
     
    }
  

    
}

/*@media only screen and (max-width:375px) {

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }


}*/
