﻿/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 50%;
    margin: 10px;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 25%;
    padding: 6px 26px 6px 26px;
    border-radius: 4px;
    border: 1px solid #d2362c;
    background-color: #d2362c;
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 10px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 10px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 10px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
