﻿@model DeltaDashboardCommon.Domain.User
@{
    ViewBag.Title = "Delta Vendor Rep Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script type="text/javascript">
    function ToastMessage(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.innerHTML = msg;
        setTimeout(function () { x.className = x.className.replace("show", msg); }, 3000);
    };

    function blockSpecialChar(event) {
        var ch = String.fromCharCode(event.keyCode);
        var filter = /[a-zA-Z_ ]/;
        if (!filter.test(ch)) {
            event.returnValue = false;
        }
    }

    //AngularJs Binding Code
    function UserController($scope, $http) {

        $scope.HasData = false;
        $scope.IsDataUpdating = false;
        var selectedVendorName = [];

        $scope.chkDeltaTeam = false;

        //Task Button Submit
       $scope.SaveUserDetails = function () {
           if (ValidForm()) {
               if (!$scope.IsDataUpdating) {
                   var selectedVendor = angular.toJson($scope.selectedVendor);
                   var parameters = {
                       FullName: $scope.FullName,
                       UserName: $scope.UserName,
                       Password: $scope.Password,
                       EmailId: $scope.EmailId,
                       Role: $scope.Role,
                       ShiftId: document.getElementById("ShiftId").value,
                       PodId: document.getElementById("PodId").value,
                       SupervisorId: document.getElementById("SupervisorId").value,
                       SelectedVendor: JSON.parse(selectedVendor),
                       isDeltaTeam: $scope.chkDeltaTeam
                   }
                   $http.post("/User/CreateUser", parameters).then(function (Result) {
                       if (Result.data) {
                           RefreshGrid();
                           ToastMessage("Data Saved Successfully!");
                           $scope.selectedVendor = null;
                           $scope.chkDeltaTeam = false;
                           selectedVendorName = [];
                           document.getElementById("ddlNonAlphaVendor").selectedIndex = -1;
                           document.getElementById("ddlAlphaVendor").selectedIndex = -1;
                       } else {
                           ToastMessage("Duplicate User name.");
                       }
                   });
               } else {
                   var parameters = {
                       Id: $scope.Id,
                       FullName: $scope.FullName,
                       UserName: $scope.UserName,
                       Password: $scope.Password,
                       EmailId: $scope.EmailId,
                       Role: $scope.Role,
                       ShiftId: document.getElementById("ShiftId").value,
                       PodId: document.getElementById("PodId").value,
                       SupervisorId: document.getElementById("SupervisorId").value,
                       SelectedVendor: $scope.selectedVendor,
                       isDeltaTeam: $scope.chkDeltaTeam
                   }
                   $http.post("/User/UpdateUser", parameters).then(function (Result) {

                       if (Result.data) {
                           RefreshGrid();
                           ToastMessage("Data Updated Successfully!");
                           $scope.IsDataUpdating = false;
                           $scope.selectedVendor = null;
                           $scope.chkDeltaTeam = false;
                           selectedVendorName = [];
                           document.getElementById("ddlNonAlphaVendor").selectedIndex = -1;
                           document.getElementById("ddlAlphaVendor").selectedIndex = -1;
                       } else {
                           ToastMessage("Duplicate User name.");
                       }
                   });
               }
            }
       };

        //GetNonAlphaVendorList();
        //GetAlphaVendorList();
        GetVendorList();

        $http.post("@Url.Action("GetPODList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.PODUserList = Result.data;
            }
        });

        $http.post("@Url.Action("GetSupervisorList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.SupervisorList = Result.data;
            }
        });

        //function GetNonAlphaVendorList() {
        //    $http.post("/User/GetNonAlphaVendorList").then(function (Result) {
        //        if (Result.data) {
        //            $scope.nonAlphaVendorlist = Result.data;
        //        }
        //    });
        //}

        function GetVendorList() {
            $http.post("/User/GetNonAlphaVendorList").then(function (Result) {
                if (Result.data) {
                    $scope.nonAlphaVendorlist = Result.data;
                    $http.post("/User/GetAlphaVendorList").then(function (Result) {
                        if (Result.data) {
                            $scope.alphaVendorlist = Result.data;
                        }
                    });
                }
            });
        }

       function RefreshGrid()
       {
           $http.post("/User/GetUserList").then(function (Result) {
               if (Result.data) {
                   $scope.gridOptions.data = Result.data;
                   $scope.HasData = true;
                   $scope.UserName = null;
                   $scope.EmailId = null;
                   $scope.FullName = null;
                   $scope.Password = null;
                   $scope.Role = "";
                   $scope.ShiftId = "";
                   $scope.PodId = "";
                   $scope.SupervisorId = "";
               } else {
                   ToastMessage("Failed!");
               }
           });

           //GetNonAlphaVendorList();
           //GetAlphaVendorList();
           GetVendorList();

           $http.post("@Url.Action("GetPODList", "CreditHold")").then(function (Result) {
                if (Result.data) {
                    $scope.PODUserList = Result.data;
                }
            });

            $http.post("@Url.Action("GetSupervisorList", "CreditHold")").then(function (Result) {
                if (Result.data) {
                    $scope.SupervisorList = Result.data;
                }
           });
        }

        function GetSelectedVendor(userId) {
            var parameters = {
                userId: userId
            };
            $http.post("/User/GetSelectedVendor", parameters).then(function (Result) {
                if (Result.data) {
                    $scope.selectedVendor = Result.data;
                    for (var j = 0; j < document.getElementById("ddlAlphaVendor").length; j++) {
                        for (var i = 0; i < $scope.selectedVendor.length; i++) {
                            if (j != -1) {
                                if ($scope.selectedVendor[i].VendorName == document.getElementById("ddlAlphaVendor").options[j].text) {
                                    selectedVendorName.push({ Id: document.getElementById("ddlAlphaVendor").options[j].value, VendorName: document.getElementById("ddlAlphaVendor").options[j].text });
                                    $scope.alphaVendorlist.splice(j, 1);
                                    document.getElementById("ddlAlphaVendor").options[j].remove();
                                    j--;
                                }
                            }
                        }
                    }

                    for (var j = 0; j < document.getElementById("ddlNonAlphaVendor").length; j++) {
                        for (var i = 0; i < $scope.selectedVendor.length; i++) {
                            if (j != -1) {
                                if ($scope.selectedVendor[i].VendorName == document.getElementById("ddlNonAlphaVendor").options[j].text) {
                                    selectedVendorName.push({ Id: document.getElementById("ddlNonAlphaVendor").options[j].value, VendorName: document.getElementById("ddlNonAlphaVendor").options[j].text });
                                    $scope.nonAlphaVendorlist.splice(j, 1);
                                    document.getElementById("ddlNonAlphaVendor").options[j].remove();
                                    j--;
                                }
                            }
                        }
                    }
                }
            });
        }

       $http.post("/User/GetUserList").then(function (Result) {
           if (Result.data) {
               $scope.gridOptions.data = Result.data;
               $scope.HasData = true;
           }
       });

        $scope.rowClick = function (row) {
            //GetAlphaVendorList();
            //GetNonAlphaVendorList();
            GetVendorList();

            var userId = row.entity.Id;
            $scope.Id = userId;
            $scope.UserName = row.entity.UserName;
            $scope.FullName = row.entity.FullName;
            $scope.Password = row.entity.Password;
            $scope.EmailId = row.entity.EmailId;
            $scope.Role = row.entity.Role;
            $scope.chkDeltaTeam = row.entity.isDeltaTeam;
            document.getElementById("ShiftId").value = row.entity.ShiftId;
            document.getElementById("PodId").value = row.entity.PodId;
            document.getElementById("SupervisorId").value = row.entity.SupervisorId;
            selectedVendorName = [];

            GetSelectedVendor(userId);

            $scope.SelectRole();
            $scope.IsDataUpdating = true;
            $scope.IsSelected = true;
       };

       var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
           ' <div ng-click="grid.appScope.rowClick(row)">{{COL_FIELD}}</div>' +
            '</div>';

        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            columnDefs: [
                { field: 'FullName', displayName: 'Full Name', cellTemplate: selectionCellTemplate, width: 200 },
                { field: 'UserName', displayName: 'User ID', cellTemplate: selectionCellTemplate, width: 180  },
                { field: 'EmailId', displayName: 'Email ID', cellTemplate: selectionCellTemplate, width: 260 },
                { field: 'Role', displayName: 'Role', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'RoleName', displayName: 'Role', cellTemplate: selectionCellTemplate, width: 220 },
                { field: 'ShiftId', displayName: 'Shift', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'PodId', displayName: 'Pod', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'SupervisorId', displayName: 'Supervisor', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'isDeltaTeam', displayName: '', cellTemplate: selectionCellTemplate, visible: false },
            ],

            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            }
        };

        $scope.AddSelectedVendor = function () {

            for (var i = 0; i < document.getElementById("ddlNonAlphaVendor").length; i++) {
                if (document.getElementById("ddlNonAlphaVendor").options[i].selected == true) {
                    selectedVendorName.push({ Id: document.getElementById("ddlNonAlphaVendor").options[i].value, VendorName: document.getElementById("ddlNonAlphaVendor").options[i].text });
                    $scope.nonAlphaVendorlist.splice(i, 1);
                    document.getElementById("ddlNonAlphaVendor").options[i].remove();
                    i--;
                }
            }

            for (var i = 0; i < document.getElementById("ddlAlphaVendor").length; i++) {
                if (document.getElementById("ddlAlphaVendor").options[i].selected == true) {
                    selectedVendorName.push({ Id: document.getElementById("ddlAlphaVendor").options[i].value, VendorName: document.getElementById("ddlAlphaVendor").options[i].text });
                    $scope.alphaVendorlist.splice(i, 1);
                    document.getElementById("ddlAlphaVendor").options[i].remove();
                    i--;
                }
            }
            $scope.selectedVendor = selectedVendorName;
        }

        $scope.RemoveSelectedVendor = function () {
            for (var i = 0; i < document.getElementById("ddlSelectedVendor").length; i++) {
                if (document.getElementById("ddlSelectedVendor").options[i].selected == true) {
                    $scope.selectedVendor.splice(i, 1);
                    var removedStr = document.getElementById("ddlSelectedVendor").options[i].text;
                    if (removedStr.indexOf("Alpha") >= 0) {
                        $scope.alphaVendorlist.push({ Id: document.getElementById("ddlSelectedVendor").options[i].value, VendorName: document.getElementById("ddlSelectedVendor").options[i].text });
                    } else {
                        $scope.nonAlphaVendorlist.push({ Id: document.getElementById("ddlSelectedVendor").options[i].value, VendorName: document.getElementById("ddlSelectedVendor").options[i].text });
                    }
                    document.getElementById("ddlSelectedVendor").options[i].remove();
                    i--;
                }
            }
            selectedVendorName = $scope.selectedVendor;
        }

        $scope.SelectRole = function () {
            switch ($scope.Role) {
                case '1':
                    document.getElementById("IsPodId").style.display = "block";
                    document.getElementById("IsSupervisorId").style.display = "block";
                    break;
                case '2':
                    document.getElementById("IsPodId").style.display = "none";
                    document.getElementById("IsSupervisorId").style.display = "block";
                    break;
                case '3':
                    document.getElementById("IsPodId").style.display = "none";
                    document.getElementById("IsSupervisorId").style.display = "none";
                    break;
                case '4':
                    document.getElementById("IsPodId").style.display = "none";
                    document.getElementById("IsSupervisorId").style.display = "none";
                    break;
                default:
            }
        }

        $scope.nonAlphaVendor = function () {
            document.getElementById("ddlAlphaVendor").selectedIndex = -1;
        }

        $scope.alphaVendor = function () {
            document.getElementById("ddlNonAlphaVendor").selectedIndex = -1;
        }

        $scope.ClearUserDetails = function ()
        {
            RefreshGrid();
            $scope.IsDataUpdating = false;
            $scope.selectedVendor = null;
            document.getElementById("ddlNonAlphaVendor").selectedIndex = -1;
            document.getElementById("ddlAlphaVendor").selectedIndex = -1;
            selectedVendorName = [];
        }

        $scope.checkedDeltaTeam = function (chkDeltaTeam) {
            console.log(chkDeltaTeam);
        };
    }

    function checkEmail() {
        @*var reg = /\S+@\S+/;
        if (!filter.test(email.value)) {
            return false;
        }*@
    }

    function ValidForm() {
        var ValidUserName = false;
        var ValidEmailId = false;
        var ValidRole = false;
        var ValidPassword = false;

        var UserName = document.getElementById("UserName").value;
        var EmailId = document.getElementById("EmailId").value;
        var Role = document.getElementById("Role").value;
        var Password = document.getElementById("Password").value;

        if (!UserName || UserName == undefined || UserName == "") {
            document.getElementById("UserName").style.border = "1px solid red";
            ValidUserName = false;
        }
        else {
            document.getElementById("UserName").style.border = "1px solid #ccc";
            ValidUserName = true;
        }

        if (!Password || Password == undefined || Password == "") {
            document.getElementById("Password").style.border = "1px solid red";
            ValidPassword = false;
        }
        else {
            document.getElementById("Password").style.border = "1px solid #ccc";
            ValidPassword = true;
        }

        if (!Role || Role == undefined || Role == "") {
            document.getElementById("Role").style.border = "1px solid red";
            ValidRole = false;
        }
        else {
            document.getElementById("Role").style.border = "1px solid #ccc";
            ValidRole = true;
        }

        if (!EmailId || EmailId == undefined || EmailId == "") {
            document.getElementById("EmailId").style.border = "1px solid red";
            ValidEmailId = false;
        }
        else {
            var x = document.getElementById("EmailId").value;
            var atpos = x.indexOf("@@");
            var dotpos = x.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                ValidEmailId = false;
                document.getElementById("EmailId").style.border = "1px solid red";
            } else {
                document.getElementById("EmailId").style.border = "1px solid #ccc";
                ValidEmailId = true;
            }
        }

        if (ValidEmailId && ValidUserName && ValidRole)
            return true;
        else
            return false;
    }

    DeltaApp.controller("UserController", UserController);

</script>

<style type="text/css">
    .buttonMrg {
        padding: 4px 10px 4px 10px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .borderSection {
        border: 1px solid #d4cfcf;
        margin: 0px 0px 10px 5px;
        padding: 5px 0px 0px 10px;
        border-radius: 5px;
        background-color: #97d4e8;
    }

    .buttonPadding {
        padding-top: 78px;
        padding-left: 38px;
    }

    .grid {
        height: 560px;
    }
    .ui-grid-icon-angle-down {
        vertical-align: sub;
        visibility: hidden;
    }
</style>

<div id="snackbar"></div>
<div ng-app="DeltaApp">
    <div class="Container" ng-controller="UserController">
        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12">
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h1>
                        <span class="Title">
                            Delta Vendor Rep Management
                        </span>
                    </h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12">
                </div>
            </div>

            <div class="col-md-8">
                <div class="col-md-10">
                    <div class="borderSection">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>User Id</span>
                                    <input type="text" class="form-control textboxtopmargin" id="UserName" ng-model="UserName" autofocus onkeypress="return blockSpecialChar(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Full Name</span>
                                    <input type="text" class="form-control textboxtopmargin" id="FullName" ng-model="FullName" autofocus onkeypress="return blockSpecialChar(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group checkbox" style="margin-top: 28px;">           
                                    <label>
                                        <input type="checkbox" style="margin-top: -4px;height: 30px; width: 30px;margin-right: 8px;" id="chkDeltaTeam" ng-model="chkDeltaTeam" ng-click="checkedDeltaTeam(chkDeltaTeam)" />Delta Team Member
                                    </label>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Password</span>
                                    <input type="password" class="form-control textboxtopmargin" id="Password" ng-model="Password" autofocus />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Email Address</span>
                                    <input type="email" class="form-control textboxtopmargin" id="EmailId" ng-model="EmailId" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Role</span>
                                    <select ng-model="Role" id="Role" class="form-control textboxtopmargin" ng-click="SelectRole()" required>
                                        <option value="" selected>- Select Role -</option>
                                        <option value="1">AP Representative</option>
                                        <option value="2">POD Lead</option>
                                        <option value="3">Team Lead</option>
                                        <option value="4">Supervisor</option>
                                        <option value="6">Data Processing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Shift</span>
                                    <select ng-model="ShiftId" id="ShiftId" class="form-control textboxtopmargin" required>
                                        <option value="" selected>- Select Shift -</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Night</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" id="IsPodId">
                                <div class="form-group">
                                    <span>POD</span>
                                    <select ng-model="PodId" id="PodId" class="form-control textboxtopmargin">
                                        <option value="" selected>- Select POD -</option>
                                        <option ng-repeat="List in PODUserList" value="{{List.Id}}">{{List.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="IsSupervisorId">
                                <div class="form-group">
                                    <span>Supervisor Name</span>
                                    <select ng-model="SupervisorId" id="SupervisorId" class="form-control textboxtopmargin">
                                        <option value="" selected>- Select Supervisor -</option>
                                        <option ng-repeat="List in SupervisorList" value="{{List.Id}}">{{List.FullName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="borderSection secoundBox">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span>Vendor</span>
                                            <select id="ddlNonAlphaVendor" ng-click="nonAlphaVendor()" name="ddlNonAlphaVendor[]" class="multiselect-ui form-control" multiple="multiple" autofocus>

                                                <option ng-repeat="vendor in nonAlphaVendorlist" value="{{vendor.Id}}">
                                                    {{vendor.VendorName}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span>Letter Assignment</span>
                                            <select id="ddlAlphaVendor" name="ddlAlphaVendor[]" ng-click="alphaVendor()" class="multiselect-ui form-control" multiple="multiple" autofocus>

                                                <option ng-repeat="vendor in alphaVendorlist" value="{{vendor.Id}}">
                                                    {{vendor.VendorName}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 buttonPadding">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input type="button" value="Add" ng-click="AddSelectedVendor()" class="btnPriStandard wideButton buttonMrg" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input type="button" value="Remove" ng-click="RemoveSelectedVendor()" class="btnPriStandard wideButton buttonMrg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span>Selected Vendor</span>
                                    <select id="ddlSelectedVendor" class="multiselect-ui form-control" multiple="multiple" style="height: 208px;" autofocus>

                                        <option ng-repeat="vendor in selectedVendor" value="{{vendor.Id}}">
                                            {{vendor.VendorName }}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4" style="padding: 0px 8px 2px 10px;">
                                <input type="submit" value="Submit" ng-click="SaveUserDetails()" class="btnPriStandard wideButton buttonMrg" />
                                <input type="button" value="Clear" ng-click="ClearUserDetails()" class="btnPriStandard wideButton buttonMrg" />
                            </div>
                            <div class="col-md-4">
                                @*<input value="Cancel" class="btnPriStandard wideButton" />*@
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-12">
                </div>
            </div>
        </div>

        <div class="row" ng-show="HasData">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    @Html.Partial("UserGridData")
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
