﻿
<style type="text/css">
    .myGrid {
        width: 900px;
        height: 560px;
    }
</style>

<h1>
    <span class="Title"> Delta Vendor Rep Management Details</span>
</h1>

<div>
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="myGrid"></div>
</div>


