﻿<div class="footer-bottom">
    <div class="">
        <div class="row footermargin">

            @*<div class="col-md-4 bottomrowsize footerPossition">
                <div class="copyright">
                    <img src="~/Content/Images/shield.svg" alt="NeBraska" />
                    <span> © @System.DateTime.Now.Year @Common.Helpers.ResourceStrings.FooterText</span>
                </div>
            </div>

            <div class="col-md-3 bottomrowsize">
                <div id="EasyLink">
                    @Common.Helpers.ResourceStrings.EasyLinkText  <span id="EasyLinkNo">@Common.Helpers.ResourceStrings.EasyLinkNumberText  </span>
                </div>
            </div>

            <div class="col-md-3 bottomrowsize">
                <div class="contact">
                    <img src="~/Content/Images/envelope.svg" alt="Email:" /> <a href="mailto:orderbooks@nebook.com">@Common.Helpers.ResourceStrings.NEBookEmailText </a>
                </div>
            </div>

            <div class="col-md-2 bottomrowsize">
                <div class="contact">
                     <img src="~/Content/Images/phone.svg" alt="Phone:" /> <span>  @Common.Helpers.ResourceStrings.NEPhoneNumberText  </span>
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-4">
                    <div class="copyright">
                        <img src="~/Content/Images/footerlogo.png" alt="Integrative" height="30" />
                        <span> Copyright © 2018 Integrative Systems, Inc. </span>
                    </div>
                </div>
                <div class="col-md-4 SupportLinksblock">
                    @*<div class="row">
                        <div class="col-md-12">
                            Integrative Company Links:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 SupportLinks OrderSupplies" >
                            <a href="https://supplies.nebook.com/">Daily Task</a>
                        </div>
                        <div class="col-md-6 SupportLinks">
                            <a href="http://support.nebook.com">IT Support </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 SupportLinks CollageStoreDesign" >
                            <a href="http://nebook.com/services/#CollegeStore">TimeSheet Design</a>
                        </div>
                        <div class="col-md-6 SupportLinks">
                            <a href=" http://nebook.com/spectrum/">Spectrum</a>
                        </div>
                    </div>*@

                </div>
                <div class="col-md-4 pull-right rightsidelinks">
                    @*<div id="EasyLink">
                         <span id="EasyLinkNo">  </span>
                    </div>
                    <div class="contact">
                        <img src="~/Content/Images/envelope.svg" alt="Email:" /> <a href="mailto:orderbooks@nebook.com"> abc </a>
                    </div>
                    <div class="contact">
                        <img src="~/Content/Images/phone.svg" alt="Phone:" /> <span> abc  </span>
                    </div>*@
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>*@
        </div>
    </div>
</div>
