﻿<script>
    function CommonDataLogController($rootScope, $scope, $http, $location) {



             var datafor = "";
            var url = $location.absUrl().split('?')[0]
            //get index of last forworded slash to get current page
            var IndexofLastSlash = url.lastIndexOf('/');
            var routeLink = url.substring(IndexofLastSlash + 1);
        if (routeLink == "CreditHold") {
            datafor = "Credit Hold"
        }
        else if (routeLink == "Escalation") {
            datafor = "Escalation"

        }
        else if (routeLink == "StatementReceipt") {
            datafor = "Statement Receipt"

        }
              var parameters = {
                  APRep: "",
                DataFor:datafor
                 }

            $http.post("@Url.Action("GetGridDataByAPRep", "CreditHold")", parameters).then(function (Result) {
            if (Result.data) {
                $rootScope.gridOptions.data = Result.data;
            }
        });




        $http.post("@Url.Action("GetAPRepUsersList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });




        $scope.setVendorValue = function () {
            if ($scope.VendorId != undefined)
                document.getElementById("HinddenVendorId").value = $scope.VendorId;
            else {
                document.getElementById("HinddenVendorId").value = document.getElementById("OrignalHinddenVendorId").value;
            }
        }

        $scope.GetVendorList = function () {
              $http.post("@Url.Action("GetAPUserData", "CreditHold")" + "?APRepId=" + $scope.APRep).then(function (Result) {
                    if (Result.data) {
                        $("#ShiftId").val(Result.data.ShiftId);
                        $("#ShiftName").val(Result.data.ShiftName);
                        $("#PODId").val(Result.data.PODId);
                        $("#PODName").val(Result.data.PODName);
                        $("#SupervisorId").val(Result.data.SupervisorId);
                        $("#SupervisorName").val(Result.data.SupervisorName);
                    }
                });

            $http.post("@Url.Action("GetVendorList", "CreditHold")" + "?APRepId=" + $scope.APRep).then(function (Result) {
                if (Result.data) {
                    $rootScope.VendorList = Result.data;
                }
            });

            var datafor = "";
            var url = $location.absUrl().split('?')[0]
            //get index of last forworded slash to get current page
            var IndexofLastSlash = url.lastIndexOf('/');
            var routeLink = url.substring(IndexofLastSlash + 1);
            if (routeLink == "CreditHold") {
                datafor ="Credit Hold"
            } else if (routeLink == "Escalation") {
                datafor = "Escalation"

            }
            else if (routeLink == "StatementReceipt") {
                datafor = "Statement Receipt"

            }
              var parameters = {
                  APRep: $scope.APRep,
                DataFor:datafor
                 }

            $http.post("@Url.Action("GetGridDataByAPRep", "CreditHold")", parameters).then(function (Result) {
            if (Result.data) {
                $rootScope.gridOptions.data = Result.data;
            }
        });

         }
    }

    DeltaApp.controller("CommonDataLogController", CommonDataLogController);
</script>
<input type="hidden" id="HinddenVendorId" />
<input type="hidden" id="OrignalHinddenVendorId" />
<input type="hidden" name="Id" id="DeltaLogId" />
<div ng-controller="CommonDataLogController">
    <div class="row">
        <div class="col-md-6 rightbuffer">
            <div class="row">AP Rep</div>
            <div class="row top-buffer">
                <select class="form-control" ng-model="APRep" ng-change="GetVendorList()" id="APRepId" required name="APRepId">
                    <option value="" selected>- Select AP Representative -</option>
                    <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 rightbuffer">
            <div class="row">Vendor Name</div>
            <div class="row top-buffer">
                <select class="form-control" ng-model="VendorId" required name="VendorId" Id="VendorId" ng-change="setVendorValue()">
                    <option value="" selected>- Select Vendor -</option>
                    <option ng-repeat="List in VendorList" value="{{List.Id}}">{{List.VendorName}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-6 rightbuffer">
            <div class="row">Shift</div>
            <div class="row top-buffer">
                <input type="hidden" class="form-control" required name="ShiftId" Id="ShiftId" />
                <input type="text" class="form-control" required name="ShiftName" Id="ShiftName" disabled />
            </div>
        </div>
        <div class="col-md-6 rightbuffer">
            <div class="row">POD</div>
            <div class="row top-buffer">
                <input type="hidden" class="form-control" required name="PODId" Id="PODId" />
                <input type="text" class="form-control" required name="PODName" Id="PODName" disabled />
            </div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-6 rightbuffer">
            <div class="row">Supervisor Name</div>
            <div class="row top-buffer">
                <input type="hidden" class="form-control" required name="SupervisorId" Id="SupervisorId" />
                <input type="text" class="form-control" required name="SupervisorName" Id="SupervisorName" disabled />
            </div>
        </div>
    </div>
</div>
