﻿<!-- Modal -->
@*<link href="~/Content/Model.css" rel="stylesheet" />*@

<div modal="showModal" close="cancel()">
    <div class="modal-header"> <span style="font-size: 23px;">Error</span></div>
<div class="modal-body">
    <p>
        <span class="text-danger">
        </span>
    </p>
</div>
<div class="modal-footer">
        <button class="btnPriStandard" data-dismiss="modal" autofocus>Close</button>
</div>
</div>
