﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta - @ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/AngularJs")

    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    @*<script src="https://ui-grid.info/release/ui-grid.js"></script>

        <link rel="stylesheet" href="https://ui-grid.info/release/ui-grid.css" type="text/css">*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css" type="text/css">
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Layout.css" rel="stylesheet" />
    <link href="~/Content/ToastMessage.css" rel="stylesheet" />

    <script>
        //Top Navigation controller
        function NavigationController($scope, $location) {
            //get current url
            var url = $location.absUrl().split('?')[0]
            //get index of last forworded slash to get current page
            var IndexofLastSlash = url.lastIndexOf('/');
            var routeLink = url.substring(IndexofLastSlash + 1);

            //function to Active selected link
            $scope.isActive = function (SelectedLink) {

                if (routeLink == SelectedLink) {
                    return true
                }
                else {
                    return false
                }
            }

            $scope.isStatementReceipt = function () {
                if (routeLink == "StatementReceipt") {
                    return true;
                }
                else {
                    return false;
                }
            }

            $scope.isCreditHold = function () {
                if (routeLink == "CreditHold") {
                    return true;
                }
                else {
                    return false;
                }
            }

            $scope.isEscalation = function () {
                if (routeLink == "Escalation") {
                    return true;
                }
                else {
                    return false;
                }
            }

            $scope.isVerification = function () {
                if (routeLink == "Verification") {
                    return true;
                }
                else {
                    return false;
                }
            }


            $scope.isDeltaDashboard = function () {
                if (routeLink == "Index" || routeLink == "VendorRepSummary" || routeLink == "EscalationStatus" || routeLink == "CreditHoldStatus" || routeLink == "IndividualRepDetail" || routeLink == "EscalationHistory" || routeLink == "CreditHoldHistory") {
                    return true;
                }
                else {



                    return false;
                }
            }



        }

        var DeltaApp = angular.module("DeltaApp", ["ui.grid", "ui.grid.pagination", "ui.grid.selection"]);

        DeltaApp.controller("NavigationController", NavigationController);

        DeltaApp.directive('showFocus', function ($timeout) {
            return function (scope, element, attrs) {
                scope.$watch(attrs.showFocus,
                    function (newValue) {
                        $timeout(function () {
                            newValue && element[0].focus();
                        });
                    }, true);
            }
        });

        DeltaApp.directive('compile', function ($compile) {
            return function (scope, element, attrs) {
                scope.$watch(
                    function (scope) {
                        // watch the 'compile' expression for changes
                        return scope.$eval(attrs.compile);
                    },
                    function (value) {
                        // when the 'compile' expression changes assign it into the current DOM
                        element.html(value);

                        // compile the new DOM and link it to the current scope.
                        // NOTE: we only compile .childNodes so that we don't get into infinite loop compiling ourselves
                        $compile(element.contents())(scope);
                    }
                );
            }
        });
    </script>
</head>
<body id="mask1" class="custombody" ng-app="DeltaApp">
    <div ng-cloak>
        <div class="fullcontent">
            <header>
                @Html.Partial("_topNavigation")
            </header>

            <div class="body-content mainContainer">
                @RenderBody()
            </div>
        </div>
        <footer>
            @Html.Partial("_bottomNavigation")
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)      

        <script>
            var JQuery = $.noConflict();

            var height = JQuery(document).height() - 133;

            JQuery('.fullcontent').css('min-height', height + 'px'); 

        </script>
    </div>
</body>
</html>


