﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   

    @*<link href="~/Content/Layout.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/ToastMessage.css" rel="stylesheet" />*@
    <style>
        .responsiveImg {
            margin-top: 10px;
            width: 100%;
            max-width: 205px;
            height: auto;
            margin-left: 90px;
        }
    </style>
    
</head>
<body class="custombody">
    <div class="fullcontent">
        <header>
            <div class="row">
                <div class="topbar logintopbar">
                    <div class="col-md-4"></div>
                    <div class="col-md-6"><a href="#"><img src="~/Content/Images/Logo.png" /></a></div>
                </div>
            </div>
            <div class="row" style="margin-top:5%">
                <div class="topbar logintopbar" style="background-color: #f9f9f9;">
                    <div class="col-md-4"></div>
                    <div class="col-md-6"><a href="#"><img src="~/Content/Images/Delta logo.png" class="responsiveImg" /> </a></div>
                </div>
            </div>
        </header>

    <div class="body-content mainContainer">
        @RenderBody()
    </div>
    </div>

    <footer>
        @Html.Partial("_bottomNavigation")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var JQuery = $.noConflict();

        var height = JQuery(document).height() - 133;

        JQuery('.fullcontent').css('min-height', height + 'px');
    </script>

</body>
</html>
