﻿<style>
    .responsiveImg {
        margin-top: 10px;
        width: 100%;
        max-width: 205px;
        height: auto;
    }

    .responsiveClientImg {
        margin-top: 10px;       
        max-width: 250px;
        height: auto;
    }
    .table {
        border: 1px solid #ccc;
    }
        .table thead {
            background-color: #8adffd;
        }

    .yourlogo {
        height: 150px;
        margin-top: -12px;
        width: 165px;
    }

</style>

<div class="topbar">
    <div class="col-md-9">
        <div class="col-md-6">
            <a href="#"><img src="~/Content/Images/Delta logo.png" class="responsiveImg"  style="margin-bottom:10px" /> </a>
        </div>
        <div class="col-md-6">

            @{ if (Session["UserName"].ToString() == "demouser")
                {

                    <a href="#"><img src="~/Content/Images/Your logo here.bmp" style="margin-bottom:10px" class="responsiveImg yourlogo" /> </a>
                }
                else
                {

            <a href="#"><img src="~/Content/Images/ClientLogo/FollettLogo.jpg" style="margin-bottom:10px" class="responsiveImg" /> </a>
                    } }

        </div>
    </div>
    <div class="col-md-3 topbarright top-buffer">
        <span> </span>
        <span class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="topbarmenu">Welcome @Session["FullName"]</span>
            </a>  
            @*@{ if (Session["Role"].ToString() == "4" || Session["Role"].ToString() == "3" || Session["Role"].ToString() == "5")
                {
            <span class="caret topbarmenu"></span>
            <ul class="dropdown-menu topbardropdown">
                <li class="topbarList"><a href="~/Vendor/ManageVendor">Vendor Management</a></li>
                <li class="topbarList"><a href="~/User/ManageUser">User Management</a></li>
                
                
            </ul> 
                }
                }*@
        </span>
        <span id="logout"><a href="@Url.Action("LogOff", "Account")" class="topbarmenu">Log Out</a></span>
    </div>
</div>

<nav ng:controller="NavigationController">
    <div class="container-fluid topmenus">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle glyphicon glyphicon-menu-hamburger menucolapusbutton" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right topLink">
                @*<li ng-class="{active:{{isVendoRep()}}}">
            <a class="Navigation" ng-class="{ active:{{isVendoRep()}}}" href="@Url.Action("VendorRepSummary", "Representative")">Vendor Rep Summary</a>
        </li>
        <li ng-class="{active:{{isIndividual()}}}">
            <a class="Navigation" ng-class="{ active:{{isIndividual()}}}" href="@Url.Action("IndividualRepDetail", "Representative")">Individual Rep Detail</a>
        </li>
        <li ng-class="{active:{{isCHStatus()}}}">
            <a class="Navigation" ng-class="{ active:{{isCHStatus()}}}" href="@Url.Action("CreditHoldStatus", "CreditHold")">Credit Hold Status</a>
        </li>
        <li ng-class="{active:{{isCSHistory()}}}">
            <a class="Navigation" ng-class="{ active:{{isCSHistory()}}}" href="@Url.Action("CreditHoldHistory", "CreditHold")">Credit Hold History</a>
        </li>
        <li ng-class="{active:{{isEStatus()}}}">
            <a class="Navigation" ng-class="{ active:{{isEStatus()}}}" href="@Url.Action("EscalationStatus", "Escalation")">Escalation Status</a>
        </li>
        <li ng-class="{active:{{isEHistory()}}}">
            <a class="Navigation" ng-class="{ active:{{isEHistory()}}}" href="@Url.Action("EscalationHistory", "Escalation")">Escalation History</a>
        </li>
        <li ng-class="{active:{{isVerification()}}}">
            <a class="Navigation" ng-class="{ active:{{isVerification()}}}" href="@Url.Action("Index", "Verification")">Verification</a>
        </li>*@
                <li ng-class="{active:{{isDeltaDashboard()}}}">
                    <a class="Navigation" ng-class="{ active:{{isDeltaDashboard()}}}" href="@Url.Action("Index", "DeltaDashboard")">Dashboard</a>
                </li>
                <li ng-class="{active:{{isCreditHold()}}}">
                    <a class="Navigation" ng-class="{ active:{{isCreditHold()}}}" href="@Url.Action("CreditHold", "CreditHold")">Credit Hold</a>
                </li>
                <li ng-class="{active:{{isEscalation()}}}">
                    <a class="Navigation" ng-class="{ active:{{isEscalation()}}}" href="@Url.Action("Escalation", "Escalation")">Escalation</a>
                </li>

                <li ng-class="{active:{{isStatementReceipt()}}}">
                    <a class="Navigation" ng-class="{ active:{{isStatementReceipt()}}}" href="@Url.Action("StatementReceipt", "StatementReceipts")">Statement Receipt</a>
                </li>
                @*@{ if (Session["Role"].ToString() == "4" || Session["Role"].ToString() == "3" || Session["Role"].ToString() == "5")
                    {*@
            <li ng-class="{active:{{isVerification()}}}">
                <a class="Navigation" ng-class="{ active:{{isVerification()}}}" href="@Url.Action("Verification", "Verification")">Verification</a>
            </li>
                        @*}
                    }*@
            </ul>
        </div>
    </div>
</nav>
