﻿
<style type="text/css">
    .grid {
        width: 60%;
        height: 400px;
    }
</style>

<div>
    <div ui-grid="gridOptionsComplete" ui-grid-pagination ui-grid-selection class="grid"></div>
</div>