﻿

<style type="text/css">
    .grid {
        width: 60%;        
    }
    
</style>

<div>
    <div ui-grid="gridOptionsPending" style="height: 444px;" ui-grid-pagination ui-grid-selection class="grid"></div>
</div>


