﻿@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>*@

<style>
    .modal-header {
        background-color: #d9534f !important;
        color: white;
    }

    .modal-content {
        width: 598.988636px !important;
        height: 179.988636px !important;
    }
</style>
<body>
    <div>
        <!-- This html would live at the path specified in the controller: path/to/your/modal-template.html -->

        <div>
            <Center>
                @*<span class="text-danger">  Session Expired - Please login again...</span><br />
                    @Html.ActionLink("Login Again", "/Login")*@
            </Center>
        </div>


    </div>
</body>