﻿<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />

<style>
    .grid {
        width: 76%;
        height: 560px;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-line;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script type="text/javascript">

    function EscalationDetails($rootScope, $scope, $http) {
             $scope.rowClick = function (row) {
                    $http.post("@Url.Action("GetVendorList", "CreditHold")" + "?APRepId=" + row.entity.APRepID).then(function (Result) {
                        if (Result.data) {
                            $rootScope.VendorList = Result.data;
                        }
                    }) ;
                     document.getElementById("DeltaLogId").value = row.entity.Id;
                     $rootScope.Id = row.entity.Id;
                    document.getElementById("APRepId").value = row.entity.APRepID;
                    //document.getElementById("VendorId").value = row.entity.VendorId;
                    var ddlvendor = document.getElementById("VendorId");
                    ddlvendor.options[ddlvendor.selectedIndex].text = row.entity.VendorName;
                    document.getElementById("HinddenVendorId").value = row.entity.VendorId;
                     document.getElementById("OrignalHinddenVendorId").value = row.entity.VendorId;
                    document.getElementById("ShiftId").value = row.entity.ShiftId;
                    document.getElementById("ShiftName").value = row.entity.ShiftName;
                    document.getElementById("PODId").value = row.entity.PODId;
                    document.getElementById("PODName").value = row.entity.PODName;
                    document.getElementById("SupervisorId").value = row.entity.SupervisorId;
                    document.getElementById("SupervisorName").value = row.entity.SupervisorName;
                 document.getElementById("ActionPlanToPreventEscalation").value = row.entity.ActionPlanToPreventEscalation;

                 var ddl = document.getElementById("ddlReasonforEscalation");
                 if (row.entity.ReasonforEscalation != null) {
                     if (row.entity.ReasonforEscalation.indexOf("Other") >= 0) {
                         ddl.options[ddl.selectedIndex].text = "Other";
                         $rootScope.Reason = 0;
                         document.getElementById("ReasonforEscalation").value = row.entity.ReasonforEscalation.split("-")[1];
                     } else {
                         $rootScope.Reason = 1;
                         ddl.options[ddl.selectedIndex].text = row.entity.ReasonforEscalation;
                         document.getElementById("ReasonforEscalation").value = "";
                     }
                 }
                 else {
                     $rootScope.Reason = 1;
                     ddl.options[ddl.selectedIndex].text = "- Select Reason -";
                 }

                 $rootScope.IsDataUpdating = true;
             };

            var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
                ' <div ng-click="grid.appScope.rowClick(row)">{{COL_FIELD}}</div>' +
                '</div>';

        $rootScope.gridOptions = {
            enableFiltering: true,
                enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
            columnDefs: [
                { field: 'APRepName', name: 'APRep Name        ', cellTemplate: selectionCellTemplate, width: 140 },
                    { field: 'VendorName', name: 'Vendor Name       ', cellTemplate: selectionCellTemplate, width: 120 },
                { field: 'VendorNumber', name: 'Vendor Number      ', cellTemplate: selectionCellTemplate, cellClass: 'rightalign', width: 140, type: 'number' },
                    
                    { field: 'SupervisorName', name: 'Supervisor Name', cellTemplate: selectionCellTemplate, width: 160 },
                    { field: 'APRepID', displayName: 'APRepID', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'VendorId', displayName: 'VendorId', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'ShiftId', displayName: 'Shift', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'ShiftName', displayName: 'ShiftName', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'PODId', displayName: 'PODId', cellTemplate: selectionCellTemplate, visible: false },
                    { field: 'PODName', displayName: 'PODName', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'SupervisorId', displayName: 'SupervisorId', cellTemplate: selectionCellTemplate, visible: false },
                { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 170, cellTooltip: true },
                { field: 'ActionPlanToPreventEscalation', name: 'Action Plan To Prevent Escalation', width: 200, cellTooltip: true }
                    
                ]
            };

        @*$http.post("@Url.Action("GetEscalationData", "Escalation")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });*@
    }
    DeltaApp.controller("EscalationDetails", EscalationDetails);
</script>

<div ng-app="DeltaApp">
    <div class="row" style="margin-left:0">
        <h2 class="Title">Escalation Details</h2>
    </div>

    <div id="dvEscalation" ng-controller="EscalationDetails">
        <div id="dvEscalationDt" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-edit class="grid"></div>
    </div>
</div>
