﻿
@{
    ViewBag.Title = "Escalation Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 65%;*/
        width: 97%;
        height: 560px;
    }
    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function EscalationStatus($scope, $http) {
        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            //columnDefs: [   
            //    { field: 'VendorName', name: 'Vendor Name', width: 150 },
            //    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 180 },
            //    { field: 'APRepName', name: 'APRep Name', width: 180 },               
            //    { field: 'SupervisorName', name: 'Supervisor Name', width: 180 },
            //    { field: 'DisplayCreatedDate', name: 'Date of Escalation', cellClass: 'ngHeaderText centerright', width: 180 },
            //    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 200 }
            //]

            columnDefs: [
                { field: 'VendorNumber', name: 'Vendor Number      ', cellClass: 'ngHeaderText rightalign', type: 'number', width: 250 },
                { field: 'VendorName', name: 'Vendor Name         ', width: 250 },

                { field: 'APRepName', name: 'APRep Name       ', width: 250 },
                { field: 'SupervisorName', name: 'Supervisor Name', width: 250 },
                { field: 'DisplayCreatedDate', name: 'Date of Escalation', cellClass: 'ngHeaderText centerright', width: 300 },
                { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 300, cellTooltip: true}
            ]
        };

        $http.post("@Url.Action("GetEscalationData", "Escalation")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });
    }
    DeltaApp.controller("EscalationStatus", EscalationStatus);
</script>

<div ng-app="DeltaApp">
    <div class="row Header" style="margin-left:0">
        <span class="Title">Escalation Status</span>
    </div>   
    <div id="EscStatus" ng-controller="EscalationStatus">
        <div id="escStatusIndividual" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
    </div>
</div>


