﻿
@{
    ViewBag.Title = "Escalation History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 73%;*/
        width: 92%;
        height: 560px;
    }
    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function EscalationHistory($scope, $http) {
        $scope.gridOptions = {
            enableFiltering: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            //columnDefs: [   
            //    { field: 'VendorName', name: 'Vendor Name      ', width: 150 },
            //    { field: 'VendorNumber', name: 'Vendor Number      ', cellClass: 'ngHeaderText rightalign', width: 150 },
            //    { field: 'APRepName', name: 'APRep Name                     ', width: 150 },               
            //    { field: 'SupervisorName', name: 'Supervisor Name                ', width: 150 },
            //    { field: 'DisplayCreatedDate', name: 'Date of Escalation', cellClass: 'ngHeaderText centerright', width: 150 },
            //    { field: 'DisplayApprovedDate', name: 'Date of Resolution', cellClass: 'ngHeaderText centerright', width: 150 },
            //    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 180 },
            //    { field: 'ActionPlanToPreventEscalation', name: 'Action Plan to Prevent Future                        Escalations', width: 250 }
            //]

            columnDefs: [
                { field: 'VendorName', name: 'Vendor Name', width: 120 },
                { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', type: 'number', width: 130 },
                { field: 'APRepName', name: 'APRep Name', width: 120 },
                { field: 'SupervisorName', name: 'Supervisor Name', width: 140 },
                { field: 'DisplayCreatedDate', name: 'Date of Escalation', cellClass: 'ngHeaderText centerright', width: 150 },
                { field: 'DisplayApprovedDate', name: 'Date of Resolution', cellClass: 'ngHeaderText centerright', width: 150 },
                { field: 'ReasonforEscalation', name: 'Reason for Escalation ', width: 200, cellTooltip: true },
                { field: 'ActionPlanToPreventEscalation', name: 'Action Plan to Prevent Future Escalations', width: 250, cellTooltip: true  }, 
                { field: 'AproverName', name: 'Approved By', width: 110 }, 
                { field: 'DisplayApprovedDate', name: 'Approved Date      ', width: 150, cellClass: 'ngHeaderText centerright' }

            ]
        };

        $http.post("@Url.Action("GetEscalationHistoryData", "Escalation")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });

    
    }
    DeltaApp.controller("EscalationHistory", EscalationHistory);
</script>

<div ng-app="DeltaApp">
    <div class="row Header" style="margin-left:0">
        <h2 class="Title">Escalation History</h2>
    </div>
  
    <div id="EscHistory" ng-controller="EscalationHistory">
        <div id="escHistoryIndividual" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
    </div>
</div>
