﻿@*<script type="text/javascript">

        //  var app = angular.module("uigridApp", ["ui.grid"]);

        TIMApp.controller("uigridCtrl", function ($http,$scope) {

        });

</script>*@

<style type="text/css">
    /*.myGrid {
        overflow-x: hidden;
    }*/
</style>

<div @*ng-controller="uigridCtrl"*@>

    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="myGrid"></div>

</div>


