﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script type="text/javascript">

    function ToastMessage(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.innerHTML = msg;
        setTimeout(function () { x.className = x.className.replace("show", msg); }, 3000);
    };

    function VerificationController($scope, $http) {

        var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents" style="text-align:center">' +
            '<input type="checkbox" id="chkApproved" ng-checked="row.entity.IsApproved" ng-disabled="row.entity.IsApproved" style="margin: 0 0 0 6px;height: 20px;width: 20px;" ng-click="grid.appScope.CheckApproved(row)" />' +
            '</div>';

        function All() {
            $scope.gridOptions = {
                enableFiltering: true,
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'IsApproved', displayName: 'Approved', cellTemplate: selectionCellTemplate, width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayCreditHoldOn', name: 'Credit On Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'DisplayCreditHoldOff', name: 'Credit Off Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'ReasonforCredithold', name: 'Reason for Credit hold', width: 220, cellTooltip: true },
                    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 220, cellTooltip: true },
                    { field: 'ActionPlanToPreventEscalation', name: 'Action Plan To Prevent Escalation', width: 300, cellTooltip: true },
                    { field: 'DisplayStatementRequestedDate', name: 'Statement Requested Date', width: 250, cellClass: 'ngHeaderText centerright' },
                    { field: 'DisplayStatementReceivedDate', name: 'Statement Received Date', width: 250, cellClass: 'ngHeaderText centerright' },
                    { field: 'DisplayStatementMatchCompleteDate', name: 'Statement Match Complete Date', width: 300, cellClass: 'ngHeaderText centerright' }
                ]
            };
        }

        function Escalation() {
            $scope.gridOptions = {
                enableFiltering: true,
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'IsApproved', displayName: 'Approved', cellTemplate: selectionCellTemplate, width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 200 },
                    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 220, cellTooltip: true },
                    { field: 'ActionPlanToPreventEscalation', name: 'Action Plan To Prevent Escalation', width: 300, cellTooltip: true }
                ]
            };
        }

        function CreditHoldGrid() {
            $scope.gridOptions = {
                enableFiltering: true,
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'IsApproved', displayName: 'Approved', cellTemplate: selectionCellTemplate, width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayCreditHoldOn', name: 'Credit On Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'DisplayCreditHoldOff', name: 'Credit Off Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'ReasonforCredithold', name: 'Reason for Credit hold', width: 250, cellTooltip: true },
                ]
            };
        }

        function StatementReceipt() {
            $scope.gridOptions = {
                enableFiltering: true,
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'IsApproved', displayName: 'Approved', cellTemplate: selectionCellTemplate, width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayStatementRequestedDate', name: 'Statement Requested Date', cellClass: 'ngHeaderText centerright', width: 250 },
                    { field: 'DisplayStatementReceivedDate', name: 'Statement Received Date', cellClass: 'ngHeaderText centerright', width: 250 },
                    { field: 'DisplayStatementMatchCompleteDate', name: 'Statement Match Complete Date', cellClass: 'ngHeaderText centerright', width: 300 }
                ]
            };
        }

        @*$scope.GetValue = function () {
            var statusId = $scope.ddlStatus;
            if (statusId == 1)
                document.getElementById('BtnApproved').className = 'btnPriStandard btnApproved';
            else if (statusId == 2)
                document.getElementById('BtnApproved').className = 'disableStandard';

           var parameter = {
               Status: statusId
           }
           $http.post("@Url.Action("GetDataByChangeStatus", "Verification")", parameter).then(function (Result) {
                if (Result.data) {
                    $scope.gridOptions.data = Result.data;
                }
            });
        }*@

        //$scope.VerificationStatus = [
        //    { Id: , Name: 'All' },
        //    { Id: 1, Name: 'Pending' },
        //    { Id: 2, Name: 'Approved' }
        //];

        //$scope.ddlStatus = $scope.VerificationStatus[0].Id;

        $scope.ApprovedVerification = function () {

            var textinputs = document.querySelectorAll('input[type=checkbox]');
            var empty = [].filter.call(textinputs, function (el) {
                return !el.checked
            });

            if (textinputs.length != empty.length) {
                var parameters = {
                    StatusCheckList: arrStatusCheck
                }
                $http.post("/Verification/UpdateApproved", parameters).then(function (Result) {
                    if (Result.data) {
                        var parameter = {
                                Status: $scope.ddlstatus
                        }
                        GetGridData();
                        @*$http.post("@Url.Action("GetDataByChangeStatus", "Verification")", parameter).then(function (Result) {
                            if (Result.data) {
                                $scope.gridOptions.data = Result.data;

                                var AllInputs = document.getElementsByTagName('input[type=checkbox]');

                                for (i = 0; i < textinputs.length; i++) {
                                    textinputs[i].checked = false;
                                }
                            }
                        });*@
                        ToastMessage("Records Updated Successfully!!");
                    }
                });
            } else {
                ToastMessage("Please select atleast one record.");
            }
        };

        var arrStatusCheck = [];
        $scope.CheckApproved = function (row) {
            var index = row.entity.Id;

            var status = 1;
            var check = false;

            var textinputs = document.querySelectorAll('input[type=checkbox]');
            var empty = [].filter.call(textinputs, function (el) {
                return !el.checked
            });

            if (textinputs.length != empty.length) {
                status = 2;
                check = true;
            }

            for (var i = 0; i < arrStatusCheck.length; i++) {
                if (arrStatusCheck[i].Index === index)
                    arrStatusCheck.splice(i, 1);
            }

            arrStatusCheck.push({ Index: index, Status: status, Checked: check });

            for (var i = 0; i < arrStatusCheck.length; i++) {
                if (arrStatusCheck[i].Status === 1)
                    arrStatusCheck.splice(i, 1);
            }
        };

        $scope.ddllogtype = "";
        $scope.ddlStatus = "0";
        GetGridData();
        $scope.ddlChanged = function () {

            var statusId = $scope.ddlStatus;
            if (statusId == 1)
                document.getElementById('BtnApproved').className = 'btnPriStandard btnApproved';
            else if (statusId == 2)
                document.getElementById('BtnApproved').className = 'disableStandard';
           GetGridData();
        }

        function GetGridData() {
            var parameter =
            {
               LogType: $scope.ddllogtype,
                    Status: $scope.ddlStatus
            }
            if ($scope.ddllogtype == "Credit Hold") {
                CreditHoldGrid();
            } else if ($scope.ddllogtype == "Escalation") {
                Escalation();
            }
            else if ($scope.ddllogtype == "Statement Receipt") {
                StatementReceipt();
            }
            else {
                All();
            }
            $http.post("@Url.Action("GetGridData", "Verification")", parameter).then(function (Result) {
                if (Result.data) {
                    $scope.gridOptions.data = Result.data;
                }
            });
        }
    }

    DeltaApp.controller("VerificationController", VerificationController);

</script>

<style>
    .grid {
        width: 90%;
        height: 560px;
    }

    #weekctr {
        position: absolute;
        z-index: 999;
    }
    /*.grid {
        height: 435px;
    }*/
    .right-align {
        text-align: right;
    }

    .btnApproved {
        border: 1px solid #00a2e6;
        background-color: #00a2eb;
        margin-right: 15px;
    }

    .btnPriStandard {
        margin-left: 0px;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }

    @@media only screen and (max-width: 990px) and (min-width: 290px) {
        .formWidth {
            width: 30%;
        }
    }

    .largeCheckBox {
        margin-top: -4px;
        height: 30px;
        width: 30px;
        margin-right: 8px;
    }

</style>

<div id="snackbar"></div>

<div ng-app="DeltaApp">
    <div ng-controller="VerificationController">


        <div class="row Header" style="margin-left: -30px;">
            <div class="col-md-12">
                <div class="col-md-2 ">
                    <span>Log Type</span>
                    <div class="top-buffer">
                        <select ng-model="ddllogtype" class="form-control formWidth"
                                ng-change="ddlChanged()">
                            <option value="" selected>All</option>
                            <option value="Credit Hold">Credit Hold</option>
                            <option value="Escalation">Escalation</option>
                            <option value="Statement Receipt">Statements</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 ">
                    <span>Status</span>
                    <div class="top-buffer">
                        <select ng-model="ddlStatus" class="form-control formWidth"
                                ng-change="ddlChanged()">
                            <option value="" selected>All</option>
                            <option value="0">Pending</option>
                            <option value="1">Approved</option>
                        </select>

                        @*<select ng-model="ddlStatus" class="form-control formWidth" ng-options="status.Id as status.Name for status in VerificationStatus"
                        ng-change="GetValue()"></select>*@
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div>
                    @{ if (Session["Role"].ToString() == "4" || Session["Role"].ToString() == "5" || Session["Role"].ToString() == "2" )
                    {
                        <button class="btnPriStandard btnApproved" id="BtnApproved" ng-click="ApprovedVerification()">Approve</button>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="verification">
                    <div id="dvVerification" ui-grid-pagination ui-grid-selection ui-grid="gridOptions" ui-grid-edit class="grid"></div>
                </div>
            </div>
        </div>

        <br /><br /><br /><br />
    </div>
</div>


