﻿
<style type="text/css">
    .grid {
        height: 400px;
    }
</style>

<div>
    <div ui-grid="gridOptions" style="width:100%; margin-left:18px;" ui-grid-pagination ui-grid-selection class="grid"></div>
</div>


