﻿@model DeltaDashboardCommon.Domain.ClientFeedback
@{
    ViewBag.Title = "Data Processing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script>

    function ToastMessage(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.innerHTML = msg;
        setTimeout(function () { x.className = x.className.replace("show", msg); }, 3000);
    };

    //AngularJs Binding Code
    function DataProcessing($scope, $http) {
        $scope.loaded = true;
        $scope.HasBtn = false;
        $scope.HasData = false;
        $scope.IsChange = false;
        $scope.HasCompleteData = false;
        $scope.HasPendingData = false;
        document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';

        var ddlMonths = document.getElementById("ddlMonths");
        document.getElementById("MonthName").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;
        document.getElementById("MonthNameCom").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;

        var ddlYears = document.getElementById("ddlYears");
        document.getElementById("YearName").textContent = ddlYears.options[ddlYears.selectedIndex].text;
        document.getElementById("YearNameCom").textContent = ddlYears.options[ddlYears.selectedIndex].text;

         $http.post("@Url.Action("GetAPRepUsersList", "DataProcessing")").then(function (Result) {
             if (Result.data) {
                 $scope.APRepUsersList = Result.data;
            }
        });

        GetClientFeedbackGridData();

        GetPendingAndCompleteAPRep();

        function GetPendingAndCompleteAPRep() {

            var ddlMonths = document.getElementById("ddlMonths");
            var month = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            var year = ddlYears.options[ddlYears.selectedIndex].text;

            var parameters = {
                month: month,
                year: year
            }

            $http.post("/DataProcessing/GetPendingAPRep", parameters).then(function (Result) {
                if (Result.data.length > 0) {
                    $scope.HasPendingData = true;
                    $scope.gridOptionsPending.data = Result.data;
                    $scope.loaded = false;
                    $scope.AprepUserVal = 0;
                }
                else {
                    $scope.HasPendingData = false;
                    document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                    $scope.loaded = false;
                    $scope.AprepUserVal = 1;
                }
            });

            $http.post("/DataProcessing/GetCompleteAPRep", parameters).then(function (Result) {
                if (Result.data.length > 0) {
                    $scope.HasCompleteData = true;
                    $scope.gridOptionsComplete.data = Result.data;
                    $scope.loaded = false;
                    $scope.AprepUserVal = 0;
                }
                else {
                    $scope.HasCompleteData = false;
                    $scope.loaded = false;
                }
            });
        }

        function GetClientFeedbackGridData() {

            document.getElementById("APRepId").value = "";

            var ddlMonths = document.getElementById("ddlMonths");
            var month = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            var year = ddlYears.options[ddlYears.selectedIndex].text;

            var parameters = {
                month: month,
                year: year
            }
            $http.post("/DataProcessing/GetClientFeedbackGridData", parameters).then(function (Result) {
                if (Result.data.length > 0) {

                    $scope.gridOptions.data = Result.data;
                    $scope.HasBtn = true;
                    $scope.HasData = true;
                    GetPendingAndCompleteAPRep();
                    $scope.loaded = false;

                    if ($scope.AprepUserVal == 1) {
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                    }
                }
                else {
                    $scope.gridOptions.data = null;
                    $scope.HasBtn = false;
                    $scope.HasData = false;
                    GetPendingAndCompleteAPRep();
                    clearAllRadios();
                    document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';

                    if ($scope.AprepUserVal == 1) {
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                    }
                }
            });
        }

        function GetClientFeedbackGridDataByMonthYear() {

            document.getElementById("APRepId").value = "";

            var ddlMonths = document.getElementById("ddlMonths");
            var month = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            var year = ddlYears.options[ddlYears.selectedIndex].text;

            var parameters = {
                month: month,
                year: year
            }
            $http.post("/DataProcessing/GetClientFeedbackGridData", parameters).then(function (Result) {
                if (Result.data.length > 0) {
                    $scope.gridOptions.data = Result.data;
                    $scope.HasBtn = true;
                    $scope.HasData = true;
                    $scope.HasPendingData = true;
                    $scope.HasCompleteData = true;
                }
                else {
                    $scope.gridOptions.data = null;
                    $scope.HasPendingData = false;
                    $scope.HasCompleteData = false;
                    $scope.HasBtn = false;
                    $scope.HasData = false;
                    clearAllRadios();
                }
            });
        }

        $scope.ddlChangedAPRep = function () {
            document.getElementById("txtComment").value = ''; // Added by Shraddha on 14-Jun-2022
            var ddlMonths = document.getElementById("ddlMonths");
            var month = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            var year = ddlYears.options[ddlYears.selectedIndex].text;

            var parameters = {
                aprepId: document.getElementById("APRepId").value,
                month: month,
                year: year
            }
            $http.post("/DataProcessing/GetDataByApRep", parameters).then(function (Result) {
                if (Result.data.length > 0) {
                    $scope.HasBtn = true;
                    $scope.HasData = true;
                    $scope.IsChange = true;

                    $("input[name=trained][value=" + Result.data[0].FeedbackOption + "]").attr('checked', true);
                   /* $("input[name=supervised][value=" + Result.data[1].FeedbackOption + "]").attr('checked', true);*/
                    $("input[name=professional][value=" + Result.data[1].FeedbackOption + "]").attr('checked', true);
                    $("input[name=interest][value=" + Result.data[2].FeedbackOption + "]").attr('checked', true);
                    $("input[name=representatives][value=" + Result.data[3].FeedbackOption + "]").attr('checked', true);
                    $("input[name=Processes][value=" + Result.data[4].FeedbackOption + "]").attr('checked', true);
                    $("input[name=Performance][value=" + Result.data[5].FeedbackOption + "]").attr('checked', true);

                    document.getElementById('btnSubmitFeeback').className = 'disableStandard';

                    if ($scope.AprepUserVal == 1) {
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                    }

                } else {
                    clearAllRadios();
                    document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';

                    if ($scope.AprepUserVal == 1) {
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                    }
                }
            });
        }

        function clearAllRadios() {
            var trained = document.getElementsByName('trained');
            for (var i = 0; i < trained.length; i++) {
                if (trained[i].checked) trained[i].checked = false;
            }

            // Commented and added by Shraddha on 13-Jun-2022
            //var supervised = document.getElementsByName('supervised');
            //for (var i = 0; i < supervised.length; i++) {
            //    if (supervised[i].checked) supervised[i].checked = false;
            //}

            document.getElementById("txtComment").value = '';
            // End By Shraddha
            var professional = document.getElementsByName('professional');
            for (var i = 0; i < professional.length; i++) {
                if (professional[i].checked) professional[i].checked = false;
            }

            var interest = document.getElementsByName('interest');
            for (var i = 0; i < interest.length; i++) {
                if (interest[i].checked) interest[i].checked = false;
            }

            var representatives = document.getElementsByName('representatives');
            for (var i = 0; i < representatives.length; i++) {
                if (representatives[i].checked) representatives[i].checked = false;
            }

            var Processes = document.getElementsByName('Processes');
            for (var i = 0; i < Processes.length; i++) {
                if (Processes[i].checked) Processes[i].checked = false;
            }

            var Performance = document.getElementsByName('Performance');
            for (var i = 0; i < Performance.length; i++) {
                if (Performance[i].checked) Performance[i].checked = false;
            }
        }

        $scope.SubmitFeedback = function () {
            if (ValidForm()) {
                var aprepId = document.getElementById("APRepId").value;

                var ddlMonths = document.getElementById("ddlMonths");
                var month = ddlMonths.options[ddlMonths.selectedIndex].text;

                var ddlYears = document.getElementById("ddlYears");
                var year = ddlYears.options[ddlYears.selectedIndex].text;

                // Added By Shraddha on 14-Jun-2022
                var comments = document.getElementById("txtComment").value;

                var row1 = $('input[name=trained]:checked').val();
                /*var row2 = $('input[name=supervised]:checked').val();*/
                var row3 = $('input[name=professional]:checked').val();
                var row4 = $('input[name=interest]:checked').val();
                var row5 = $('input[name=representatives]:checked').val();
                var row6 = $('input[name=Processes]:checked').val();
                var row7 = $('input[name=Performance]:checked').val();

                $scope.FeedbackName = [
                    { Id: 1, Name: 'Efficiency in managing Credit Hold', Option: row1 },
                    /*{ Id: 2, Name: 'Proactiveness in solving vendors and stores issues', Option: row2 },*/
                    { Id: 3, Name: 'Motivating vendors to use tools to improve efficiencies', Option: row3 },
                    { Id: 4, Name: 'Communication with Vendors / Stores', Option: row4 },
                    { Id: 5, Name: 'Communication with Supervisors / Leads / Peers', Option: row5 },
                    { Id: 6, Name: 'Adherance to Business Guidelines / Processes', Option: row6 },
                    { Id: 7, Name: 'Overall Performance', Option: row7 }
                ];

                if (aprepId != "") {
                    if (row1 != undefined /*&& row2 != undefined*/ && row3 != undefined && row4 != undefined && row5 != undefined && row6 != undefined && row7 != undefined) {
                        var parameters = {
                            ApRepId: aprepId,
                            Month: month,
                            Year: year,
                            feedbackType: $scope.FeedbackName,
                            Comments: comments // Added by Shraddha on 14-Jun-2022
                        }
                        
                        $http.post("/DataProcessing/CreateFeedback", parameters).then(function (Result) {
                            if (Result.data) {
                                ToastMessage("Data Updated Successfully.");
                                $scope.ClearClientFeedback();

                                GetPendingAndCompleteAPRep();
                                $scope.loaded = false;
                                $scope.HasBtn = true;
                                $scope.HasData = true;
                            } else {
                                ToastMessage("Failed.");
                            }
                        });
                    } else {
                        ToastMessage("Please provide feedback for all categories.");
                    }
                }
                else {
                    ToastMessage("Please fill in required fields.");
                }
            }
        }

        $scope.ClearClientFeedback = function () {
            setInterval(function () {
                window.location.href = '@Url.Action("DataProcessing", "DataProcessing")';
            }, 3000);
        }
        
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ]

        $('#ddlMonths').change(function () {

            var currMon = (new Date).getMonth();
            var currYear = (new Date).getFullYear();

            var ddlMonths = document.getElementById("ddlMonths");
            document.getElementById("MonthName").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;
            document.getElementById("MonthNameCom").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            document.getElementById("YearName").textContent = ddlYears.options[ddlYears.selectedIndex].text;
            document.getElementById("YearNameCom").textContent = ddlYears.options[ddlYears.selectedIndex].text;

            if (currYear == $('#ddlYears :selected').text() || (new Date).getFullYear() - 1 == $('#ddlYears :selected').text()) {
                if (currYear == $('#ddlYears :selected').text()) {
                    var SelectedMonth = monthNames.indexOf($('#ddlMonths :selected').text());
                    if (SelectedMonth <= currMon) {
                        document.getElementById("ddlYears").style.border = "1px solid #ccc";
                        document.getElementById("ddlMonths").style.border = "1px solid #ccc";
                        document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
                    } else {
                        document.getElementById("ddlMonths").style.border = "1px solid red";
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                        GetClientFeedbackGridDataByMonthYear();
                        return false;
                    }
                } else {
                    document.getElementById("ddlYears").style.border = "1px solid #ccc";
                    document.getElementById("ddlMonths").style.border = "1px solid #ccc";
                    document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
                }
            }
            else {
                document.getElementById("ddlMonths").style.border = "1px solid red";
                document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                GetClientFeedbackGridDataByMonthYear();
                return false;
            }

            if ($scope.IsChange) {
                clearAllRadios();
                document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
            }
            GetClientFeedbackGridData();
        });

        $('#ddlYears').change(function () {

            var currMon = (new Date).getMonth();
            var currYear = (new Date).getFullYear();

            var ddlMonths = document.getElementById("ddlMonths");
            document.getElementById("MonthName").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;
            document.getElementById("MonthNameCom").textContent = ddlMonths.options[ddlMonths.selectedIndex].text;

            var ddlYears = document.getElementById("ddlYears");
            document.getElementById("YearName").textContent = ddlYears.options[ddlYears.selectedIndex].text;
            document.getElementById("YearNameCom").textContent = ddlYears.options[ddlYears.selectedIndex].text;

            if (currYear == $('#ddlYears :selected').text() || (new Date).getFullYear() - 1 == $('#ddlYears :selected').text()) {
                if (currYear == $('#ddlYears :selected').text()) {
                    var SelectedMonth = monthNames.indexOf($('#ddlMonths :selected').text());
                    if (SelectedMonth <= currMon) {
                        document.getElementById("ddlYears").style.border = "1px solid #ccc";
                        document.getElementById("ddlMonths").style.border = "1px solid #ccc";
                        document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
                    } else {
                        document.getElementById("ddlMonths").style.border = "1px solid red";
                        document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                        GetClientFeedbackGridDataByMonthYear();
                        return false;
                    }
                } else {
                    document.getElementById("ddlYears").style.border = "1px solid #ccc";
                    document.getElementById("ddlMonths").style.border = "1px solid #ccc";
                    document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
                }
            }
            else {
                document.getElementById("ddlYears").style.border = "1px solid red";
                document.getElementById('btnSubmitFeeback').className = 'disableStandard';
                GetClientFeedbackGridDataByMonthYear();
                return false;
            }

            if ($scope.IsChange) {
                clearAllRadios();
                document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
            }
            GetClientFeedbackGridData();
        });

        $scope.rowClick = function (row) {
            var parameters = {
                aprepId: row.entity.ApRepId,
                month: row.entity.Month,
                year: row.entity.Year
            }
            $http.post("/DataProcessing/GetDataByApRep", parameters).then(function (Result) {
                if (Result.data.length > 0) {
                    $scope.HasBtn = true;
                    $scope.HasData = true;
                    $scope.IsChange = true;


                    document.getElementById("APRepId").value = row.entity.ApRepId;
                    document.getElementById("ddlMonths").value = row.entity.Month;
                    document.getElementById("ddlYears").value = row.entity.Year;

                    $("input[name=trained][value=" + Result.data[0].FeedbackOption + "]").attr('checked', true);
                    /*$("input[name=supervised][value=" + Result.data[1].FeedbackOption + "]").attr('checked', true);*/
                    $("input[name=professional][value=" + Result.data[1].FeedbackOption + "]").attr('checked', true);
                    $("input[name=interest][value=" + Result.data[2].FeedbackOption + "]").attr('checked', true);
                    $("input[name=representatives][value=" + Result.data[3].FeedbackOption + "]").attr('checked', true);
                    $("input[name=Processes][value=" + Result.data[4].FeedbackOption + "]").attr('checked', true);
                    $("input[name=Performance][value=" + Result.data[5].FeedbackOption + "]").attr('checked', true);
                    // Added by Shraddha on 14-Jun-2022
                    document.getElementById("txtComment").value = Result.data[5].Comments;

                    document.getElementById('btnSubmitFeeback').className = 'disableStandard';

                } else {
                    clearAllRadios();
                    document.getElementById('btnSubmitFeeback').className = 'btnPriStandard';
                }
            });
        };

        var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
            ' <div ng-click="grid.appScope.rowClick(row)">{{COL_FIELD}}</div>' +
            '</div>';

        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            columnDefs: [
                { field: 'ApRepName', displayName: 'AP Rep', cellTemplate: selectionCellTemplate, width: 150 },
                { field: 'ApRepId', displayName: '', cellTemplate: selectionCellTemplate, width: 150, visible: false },
                { field: 'Rating', displayName: 'Rating', cellTemplate: selectionCellTemplate, width: 150, cellClass: 'ngHeaderText rightalign' },
                { field: 'Month', displayName: 'Month', cellTemplate: selectionCellTemplate, width: 150, cellClass: 'ngHeaderText centerright' },
                { field: 'Year', displayName: 'Year', cellTemplate: selectionCellTemplate, width: 150, cellClass: 'ngHeaderText centerright' },
                { field: 'RatingBy', displayName: 'Rating By', cellTemplate: selectionCellTemplate, width: 150 },
                { field: 'RatingDate', displayName: 'Rating Date', cellTemplate: selectionCellTemplate, width: 150, cellClass: 'ngHeaderText centerright' },
            ],

            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            }
        };

        $scope.gridOptionsPending = {
            enablePaginationControls: false,
            paginationPageSizes: [25, 50, 100],
            paginationPageSize: 25,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            columnDefs: [
                { field: 'APRepName', displayName: 'AP Rep Name', cellTemplate: selectionCellTemplate, width: 150 },
                { field: 'SupervisorName', displayName: 'Supervisor Name', cellTemplate: selectionCellTemplate, width: 150 },
            ],

            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            }
        };

        $scope.gridOptionsComplete = {
            enablePaginationControls: false,
            paginationPageSizes: [25, 50, 100],
            paginationPageSize: 25,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            columnDefs: [
                { field: 'APRepName', displayName: 'AP Rep Name', cellTemplate: selectionCellTemplate, width: 150 },
                { field: 'SupervisorName', displayName: 'Supervisor Name', cellTemplate: selectionCellTemplate, width: 150 },
            ],

            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            }
        };

        $scope.GetExport = function () {
              location.href = '@Url.Action("ExportToExcel", "DataProcessing")';
        };
    }

    function ValidForm() {
        var Aprep = false;

        var aprepVal = document.getElementById("APRepId").value;

        if (!aprepVal || aprepVal == undefined || aprepVal == "") {
            document.getElementById("APRepId").style.border = "1px solid red";
            Aprep = false;
        }
        else {
            document.getElementById("APRepId").style.border = "1px solid #ccc";
            Aprep = true;
        }

        if (Aprep) {
            return true;
        }
        else {
            ToastMessage("Please fill in required fields.");
            return false;
        }
    }

    DeltaApp.controller("DataProcessing", DataProcessing);

</script>

<style>

    .borderSection {
        border: 1px solid #d4cfcf;
        margin: 2px 0px 4px 20px;
        padding: 0px 0px 85px 10px;
        border-radius: 5px;
        background-color: #97d4e8;
    }

    .ui-grid-icon-angle-down {
        vertical-align: sub;
        visibility: hidden;
    }

    label {
        font-weight: 400;
    }

    .checkWidth {
        width: 200px;
        margin-left: -20px;
    }

    .checkMargin {
        margin-left: 15px;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    /* Radio */
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ebebeb;
        border-radius: 50%;
        border: 2px solid #f47e2a;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #ebebeb;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #f47e2a;
    }

    .checkleft {
        margin-left: 6px;
    }

    .checkleft1 {
        margin-left: 15px;
    }

    .checkleft2 {
        margin-left: 15px;
    }

    .checkleft3 {
        margin-left: 8px;
    }

    .optionwidth {
        width: 53%;
    }

    .loadingIcon {
        position: absolute;
        /* overflow: auto; */
        /* z-index: 100000; */
        /* float: left; */
        /* margin-left: -50%; */
        top: 50%;
        left: 50%;
    }
</style>

<link href="~/Content/ClientFeedback.css" rel="stylesheet" />

<div id="snackbar"></div>
<div ng-controller="DataProcessing">
    <div ng-hide="loaded">
        <div class="row">
            <div class="col-md-12">
                @*<div class="col-md-7">
                       <h1>
                           <span class="Title">Feedback for Delta Team</span>
                       </h1>
                    </div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <h1>
                        <span style="margin-left: 19px;" class="Title">Feedback for Data Processing</span>
                    </h1>
                    <div class="borderSection">
                        <div class="col-md-4 Box">
                            <div class="top-buffer">
                                Month <span class="glyphicon glyphicon-calendar" style="line-height: 0;"></span>
                            </div>
                            <div class="top-buffer">
                                @Html.DropDownList("month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month), new { @id = "ddlMonths", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 Box">
                            <div class="top-buffer">
                                Year <span class="glyphicon glyphicon-calendar" style="line-height: 0;"></span>
                            </div>
                            <div class="top-buffer">
                                @Html.DropDownList("year", Enumerable.Range(DateTime.Now.Year - 1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), DateTime.Now.Year.ToString(), new { @id = "ddlYears", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 Box">
                            <div class="top-buffer">
                                AP Rep
                            </div>
                            <div class="top-buffer">
                                <select class="form-control" ng-model="APRep" id="APRepId" required name="APRepId" ng-change="ddlChangedAPRep()">
                                    <option value="" selected>- Select AP Representative -</option>
                                    <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="borderSection" style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 optionwidth">
                                </div>
                                <div class="col-md-1">
                                    <label> Poor </label>
                                </div>
                                <div class="col-md-1">
                                    <label> Below <br /> Average </label>
                                </div>
                                <div class="col-md-1">
                                    <label> Average </label>
                                </div>
                                <div class="col-md-1">
                                    <label> Good </label>
                                </div>
                                <div class="col-md-1">
                                    <label> Excellent </label>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <label class="col-md-6 optionwidth">
                                    Prokey / Workflow
                                </label>
                                <div class="col-md-1">
                                    @*<span class="radio with-gap"> <input type="radio" name="trained" value="1" /> </span>*@
                                    <label class="container checkleft">
                                        <input type="radio" name="trained" value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    @*<span class="radio with-gap"> <input type="radio" name="trained" value="2" /> </span>*@
                                    <label class="container checkleft1">

                                        <input type="radio" name="trained" value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    @*<span class="radio with-gap"> <input type="radio" name="trained" value="3" /> </span>*@
                                    <label class="container checkleft2">
                                        <input type="radio" name="trained" value="3" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    @*<span class="radio with-gap"> <input type="radio" name="trained" value="4" /> </span>*@
                                    <label class="container checkleft3">
                                        <input type="radio" name="trained" value="4" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    @*<span class="radio with-gap"> <input type="radio" name="trained" value="5" /> </span>*@
                                    <label class="container checkleft2">
                                        <input type="radio" name="trained" value="5" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Commented by Shraddha on 13-Jun-2022
                            <div class="row top-buffer">
                            <div class="col-md-12">
                                <label class="col-md-6 optionwidth">
                                    Workflow
                                </label>
                                <div class="col-md-1">
                                    <label class="container checkleft">
                                        <input type="radio" name="supervised" value="1" />
                                        <span class="checkmark"></span>
                                    </label>-->

                                    @*<span class="radio"> <input type="radio" name="supervised" value="1" /> </span>*@
                                <!--</div>
                                <div class="col-md-1">
                                    <label class="container checkleft1">
                                        <input type="radio" name="supervised" value="2" />
                                        <span class="checkmark"></span>
                                    </label>-->
                                    @*<span class="radio"> <input type="radio" name="supervised" value="2" /> </span>*@
                                <!--</div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="supervised" value="3" />
                                        <span class="checkmark"></span>
                                    </label>-->
                                    @*<span class="radio"> <input type="radio" name="supervised" value="3" /> </span>*@
                                <!--</div>
                                <div class="col-md-1">
                                    <label class="container checkleft3">
                                        <input type="radio" name="supervised" value="4" />
                                        <span class="checkmark"></span>
                                    </label>-->
                                    @*<span class="radio"> <input type="radio" name="supervised" value="4" /> </span>*@
                                <!--</div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="supervised" value="5" />
                                        <span class="checkmark"></span>
                                    </label>-->
                                    @*<span class="radio"> <input type="radio" name="supervised" value="5" /> </span>*@
                                <!--</div>
                            </div>
                        </div>-->
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <label class="col-md-6 optionwidth">
                                    Proforma
                                </label>
                                <div class="col-md-1">
                                    <label class="container checkleft">
                                        <input type="radio" name="professional" value="1" />
                                        <span class="checkmark"></span>
                                    </label>

                                    @*<span class="radio"> <input type="radio" name="professional" value="1" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft1">
                                        <input type="radio" name="professional" value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="professional" value="2" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="professional" value="3" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="professional" value="3" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft3">
                                        <input type="radio" name="professional" value="4" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="professional" value="4" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="professional" value="5" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="professional" value="5" /> </span>*@
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <label class="col-md-6 optionwidth">
                                    Error queues
                                </label>
                                <div class="col-md-1">
                                    <label class="container checkleft">
                                        <input type="radio" name="interest" value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="interest" value="1" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft1">
                                        <input type="radio" name="interest" value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="interest" value="2" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="interest" value="3" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="interest" value="3" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft3">
                                        <input type="radio" name="interest" value="4" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="interest" value="4" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="interest" value="5" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="interest" value="5" /> </span>*@
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row top-buffer">
                                <div class="col-md-12">
                                    <label class="col-md-6 optionwidth">
                                        Chargeback
                                    </label>
                                    <div class="col-md-1">
                                        <label class="container checkleft">
                                            <input type="radio" name="representatives" value="1" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="1" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft1">
                                            <input type="radio" name="representatives" value="2" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="2" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft2">
                                            <input type="radio" name="representatives" value="3" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="3" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft3">
                                            <input type="radio" name="representatives" value="4" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="4" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft2">
                                            <input type="radio" name="representatives" value="5" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="5" /> </span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row top-buffer">
                                <div class="col-md-12">
                                    <label class="col-md-6 optionwidth">
                                        Adherance to Business Guidelines, Best Practices and Processes
                                    </label>
                                    <div class="col-md-1">
                                        <label class="container checkleft">
                                            <input type="radio" name="Processes" value="1" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="1" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft1">
                                            <input type="radio" name="Processes" value="2" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="2" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft2">
                                            <input type="radio" name="Processes" value="3" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="3" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft3">
                                            <input type="radio" name="Processes" value="4" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="4" /> </span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label class="container checkleft2">
                                            <input type="radio" name="Processes" value="5" />
                                            <span class="checkmark"></span>
                                        </label>
                                        @*<span class="radio"> <input type="radio" name="representatives" value="5" /> </span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <label class="col-md-6 optionwidth">
                                    Overall Performance
                                </label>
                                <div class="col-md-1">
                                    <label class="container checkleft">
                                        <input type="radio" name="Performance" value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="representatives" value="1" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft1">
                                        <input type="radio" name="Performance" value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="representatives" value="2" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="Performance" value="3" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="representatives" value="3" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft3">
                                        <input type="radio" name="Performance" value="4" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="representatives" value="4" /> </span>*@
                                </div>
                                <div class="col-md-1">
                                    <label class="container checkleft2">
                                        <input type="radio" name="Performance" value="5" />
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<span class="radio"> <input type="radio" name="representatives" value="5" /> </span>*@
                                </div>
                            </div>
                        </div>
                        <div class="top-buffer"></div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4 pendingTbl" ng-show="HasPendingData">
                    <div>
                        <h6>
                            <span class="TitlePenCom"> Feedback Pending -</span> <span id="MonthName" class="TitlePenCom"></span> <span id="YearName" class="TitlePenCom"></span>
                        </h6>
                    </div>
                    @Html.Partial("PendingAPRep")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="col-md-3">
                            </div>*@
                            @*<div class="col-md-3">
                            </div>*@
                            <div class="col-md-3">
                                <div>
                                    <button class="btnPriStandard" style="float:left;" id="btnSubmitFeeback" ng-click="SubmitFeedback()">Submit</button>
                                </div>
                            </div>
                            @*Added by Shraddha on 14-Jun-2022*@
                            <div class="col-md-9">
                               <textarea rows="2" cols="50"  id ="txtComment" class="form-control" placeholder="Type comment here" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="HasBtn">
                        <div class="col-md-12">
                            @*<div class="col-md-3">
                                </div>*@
                            <div class="col-md-6">
                                <div>
                                    <button class="btnPriStandard" style="float:left;" id="btnExport" ng-click="GetExport()">Export</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="HasData">
                        <div class="col-md-12">
                            @*<div class="col-md-3">
                                </div>*@

                            @Html.Partial("ClientFeedbackGridData")

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4 completeTbl" ng-show="HasCompleteData">
                <br /><br />
                <div>
                    <h6>
                        <span class="TitlePenCom"> Feedback Completed -</span> <span id="MonthNameCom" class="TitlePenCom"></span> <span id="YearNameCom" class="TitlePenCom"></span>
                    </h6>
                </div>
                @Html.Partial("CompleteAPRep")
            </div>
        </div>
    </div>
    <div class="row loadingIcon" ng-show="loaded">
        <center>
            <img src="~/Content/Images/dd-loading.gif" />
            Loading...
        </center>
    </div>
</div>
<br /><br /><br /><br />
