﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script type="text/javascript">

    function ToastMessage(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.innerHTML = msg;
        setTimeout(function () { x.className = x.className.replace("show", msg); }, 3000);
    };

    function ExportController($scope, $http) {
        
          $http.post("@Url.Action("GetAPRepUsersList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });

        var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents" style="text-align:center">' +
            '<input type="checkbox" id="chkApproved" ng-checked="row.entity.IsApproved" ng-disabled="row.entity.IsApproved" style="margin: 4px 0 0 6px;" ng-click="grid.appScope.CheckApproved(row)" />' +
            '</div>';

        function All() {
            $scope.gridOptions = {
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'StatusString', displayName: 'Approved', width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', type: 'number', width: 170 },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayCreditHoldOn', name: 'Credit On Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'DisplayCreditHoldOff', name: 'Credit Off Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'ReasonforCredithold', name: 'Reason for Credit hold', width: 220, cellTooltip: true },
                    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 220, cellTooltip: true },
                    { field: 'ActionPlanToPreventEscalation', name: 'Action Plan To Prevent Escalation', width: 300, cellTooltip: true },
                    { field: 'DisplayStatementRequestedDate', name: 'Statement Requested Date', width: 250, cellClass: 'ngHeaderText centerright' },
                    { field: 'DisplayStatementReceivedDate', name: 'Statement Received Date', width: 250, cellClass: 'ngHeaderText centerright' },
                    { field: 'DisplayStatementMatchCompleteDate', name: 'Statement Match Complete Date', width: 300, cellClass: 'ngHeaderText centerright' }
                ]
            };
        }

        function Escalation() {
            $scope.gridOptions = {
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'StatusString', displayName: 'Approved', width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 200 },
                    { field: 'ReasonforEscalation', name: 'Reason for Escalation', width: 220, cellTooltip: true },
                    { field: 'ActionPlanToPreventEscalation', name: 'Action Plan To Prevent Escalation', width: 300, cellTooltip: true }
                ]
            };
        }

        function CreditHoldGrid() {
            $scope.gridOptions = {
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'StatusString', displayName: 'Approved', width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayCreditHoldOn', name: 'Credit On Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'DisplayCreditHoldOff', name: 'Credit Off Hold', cellClass: 'ngHeaderText centerright', width: 170 },
                    { field: 'ReasonforCredithold', name: 'Reason for Credit hold', width: 250, cellTooltip: true },
                ]
            };
        }

        function StatementReceipt() {
            $scope.gridOptions = {
                enableSorting: true,
                paginationPageSizes: [15, 25, 50],
                paginationPageSize: 15,
                enableRowHeaderSelection: false,
                enableRowSelection: true,
                multiSelect: false,
                noUnselect: true,
                columnDefs: [
                    { field: 'StatusString', displayName: 'Approved',  width: 130 },
                    { field: 'LogedDataFor', name: 'Log Type', width: 130 },
                    { field: 'DisplayCreatedDate', name: 'Date Log', cellClass: 'ngHeaderText centerright', width: 130 },
                    { field: 'VendorName', name: 'Vendor Name', width: 150 },
                    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
                    { field: 'APRepName', name: 'APRep', width: 130 },
                    { field: 'PODName', name: 'POD', width: 130 },
                    { field: 'SupervisorName', name: 'Supervisor Name', width: 170 },
                    { field: 'DisplayStatementRequestedDate', name: 'Statement Requested Date', cellClass: 'ngHeaderText centerright', width: 250 },
                    { field: 'DisplayStatementReceivedDate', name: 'Statement Received Date', cellClass: 'ngHeaderText centerright', width: 250 },
                    { field: 'DisplayStatementMatchCompleteDate', name: 'Statement Match Complete Date', cellClass: 'ngHeaderText centerright', width: 300 }
                ]
            };
        }

          $scope.ExportToExcel = function () {
              location.href = '@Url.Action("ExportToExcel", "Export")';
          };

        @*$scope.ExportToExcel = function () {

             var parameter =
                {
                    logtype: $scope.ddllogtype,
                    status: $scope.ddlStatus,
                     userId: ($scope.ddlUsers == undefined || $scope.ddlUsers == "") ? 0 : $scope.ddlUsers,
                    IsAdmin: $scope.IsAdmin
                }
            $http.post("@Url.Action("ExportToExcel", "Export")", parameter).then(function (Result) {
                if (Result.data) {
                    document.getElementById("download").click();
                    ToastMessage("Data Exported To Excel Successfully!!");
                }
            });            

        }*@

        $scope.ddllogtype = "";
        $scope.ddlStatus = "";

        $scope.IsAdmin = true;
        GetGridData();
        $scope.ddlChanged = function () {
            if ($scope.ddlUsers == undefined || $scope.ddlUsers == "")
                $scope.IsAdmin = true;
            else
                $scope.IsAdmin = false;
            
            GetGridData();

        }

        function GetGridData() {
           
            if ($scope.ddllogtype == "Credit Hold") {
                CreditHoldGrid();
            } else if ($scope.ddllogtype == "Escalation") {
                Escalation();
            }
            else if ($scope.ddllogtype == "Statement Receipt") {
                StatementReceipt();                
            }
            else {              
                All();
            }

            var getuserName = document.getElementById("APRepId");
            var UserName = getuserName.options[getuserName.selectedIndex].text

            var getstatusName = document.getElementById("ddStatus");
            var StatusName = getstatusName.options[getstatusName.selectedIndex].text
            
            var parameter =
                {
                    logtype: $scope.ddllogtype,
                    status: $scope.ddlStatus,
                    userId: ($scope.ddlUsers == undefined || $scope.ddlUsers == "" ) ? 0 : $scope.ddlUsers,
                    IsAdmin: $scope.IsAdmin,
                    logtypeName: $scope.ddllogtype,
                    statusName: StatusName,
                    userName: UserName
                }
            $http.post("@Url.Action("GetGridData", "Export")", parameter).then(function (Result) {
                if (Result.data) {
                    $scope.gridOptions.data = Result.data;
                }
            });          
        }
    }

    DeltaApp.controller("ExportController", ExportController);

</script>

<style>
    .grid {
        width: 90%;
        height: 560px;
    }

    #weekctr {
        position: absolute;
        z-index: 999;
    }
    /*.grid {
        height: 435px;
    }*/
    .right-align {
        text-align: right;
    }

    .btnApproved {
        border: 1px solid #00a2e6;
        background-color: #00a2eb;
        margin-right: 15px;
    }

    .btnPriStandard {
        margin-left: 0px;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }

    @@media only screen and (max-width: 990px) and (min-width: 290px) {
        .formWidth {
            width: 30%;
        }
    }
</style>

<div id="snackbar"></div>
<a id="download" href="#"  ng-click="ExportToExcel()" style="visibility:hidden">download</a>
<div ng-app="DeltaApp">
    <div ng-controller="ExportController">


        <div class="row Header" style="margin-left: -30px;">
            <div class="col-md-12">
                <div class="col-md-2 ">
                    <span>Log Type</span>
                    <div class="top-buffer">
                        <select ng-model="ddllogtype" class="form-control formWidth"
                                ng-change="ddlChanged()">
                            <option value="" selected>All</option>
                            <option value="Credit Hold">Credit Hold</option>
                            <option value="Escalation">Escalation</option>
                            <option value="Statement Receipt">Statements</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 ">
                    <span>Status</span>
                    <div class="top-buffer">
                        <select ng-model="ddlStatus" id="ddStatus" class="form-control formWidth"
                                ng-change="ddlChanged()">
                            <option value="" selected>All</option>
                            <option value="0">Pending</option>
                            <option value="1">Approved</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-2 ">
                    <span>Users</span>
                    <div class="row top-buffer">
                        <select class="form-control" ng-model="ddlUsers"  id="APRepId" required name="APRepId"  ng-change="ddlChanged()">
                            <option value="" selected>All</option>
                            <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div>
            
                            <button class="btnPriStandard btnApproved" id="BtnApproved" ng-click="ExportToExcel()">Export</button>
            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="verification">
                    <div id="dvVerification" ui-grid-pagination ui-grid-selection ui-grid="gridOptions" ui-grid-edit class="grid"></div>
                </div>
            </div>
        </div>

        <br /><br /><br /><br />
    </div>
</div>


