﻿@model DeltaDashboardCommon.Domain.User
@{
    ViewBag.Title = "Delta - Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
@*<link href="~/Content/Model.css" rel="stylesheet" />*@
@*@Scripts.Render("~/bundles/AngularJsFactory")*@
<script src="~/Scripts/LoginModel/LoginModel.js"></script>
<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script>
    //AngularJs Binding Code
    function loginController($scope, $http, $uibModal, $window)
    {
        $scope.Haserror = false;
        $scope.errormesg = "";

        @*$scope.openForgotAccountNumber = function () {
            location.href = '@Url.Action("ForgotAccountNumber", "Account")';
        }
        $scope.openForgotPassword = function ()
        {
             location.href = '@Url.Action("ForgotPassword", "Account")';

        }*@

        //Login Button Submit
        $scope.submit = function ()
        {
            // IS Empty Validation for UserId and Password
            if (!$scope.UserName || !$scope.Password)
            {
                if (!$scope.UserName && !$scope.Password) {
                    $scope.errormesg = 'Please provide User Id and Password.'
                    $scope.Haserror = true;
                }
                else if (!$scope.UserName) {
                    $scope.errormesg = 'Please provide  User Id.'
                    $scope.openErrorPopup();
                    $scope.UserName = '';
                    $window.document.getElementById('nba').focus();

                }
                else if (!$scope.Password) {
                    $scope.errormesg = 'Please provide a Password.'
                    $scope.Haserror = true;
                    $scope.Password = '';
                    $window.document.getElementById('pass').focus();
                }
            }
            else {
                $scope.dataLoading = true;
                document.getElementById("mask").classList.add('waitCursor');
                //Posting Data Controller
                var parameters = {
                    UserName: $scope.UserName,
                    Password: $scope.Password
                }

                $http.post("/Account/Login", parameters).then(function (Result) {
                    document.getElementById("mask").classList.remove('waitCursor');
                    if (Result.data.Id != 0) {
                        location.href = '@Url.Action("Index", "DeltaDashboard")';
                    }
                     else {
                         $scope.errormesg = Result.data.ErrorMsg;
                         $scope.Haserror = true;
                    }
                })
            }
        }
    }

    //Register ng App
    var LoginApp = angular.module("LoginApp", ['ui.bootstrap']);
    //Binding Controtller with Binding function
    LoginApp.controller("loginController", loginController);

</script>

<style>
    .waitCursor {
        cursor: wait;
        z-index: 9999;
    }
</style>

<div id="snackbar"></div>
<div id="mask" class="" ng-app="LoginApp">
    <div ng-controller="loginController" ng-cloak>
        <div class="row Header">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 Loginbox">
                <form ng-submit="submit()">
                    <div class="row">
                        <div class="col-md-2 Righttext" style="margin-top: 12px;">User Id</div>
                        <div class="col-md-3"><input id="userId" type="text" class="form-control textboxtopmargin" ng-model="UserName" autofocus /></div>
                        <div class="col-md-2 Righttext" style="margin-top: 12px;">Password</div>
                        <div class="col-md-3">
                            <input type="password" id="pass" ng-hide="t.isChecked" ng-model="Password" ng-required="required" class="form-control textboxtopmargin" />
                            <input type="text" ng-show="t.isChecked" ng-model="Password" ng-required="required" class="form-control textboxtopmargin" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" style="width: 89px;" value="Log In" class="btnPriStandard wideButton" />
                        </div>
                        @*<div class="col-md-2">
                                    <div class="input-group">
                                        <label class="input-group-addon">
                                            <input type="checkbox" ng-model="t.isChecked" ng-click="$event.stopPropagation()" />
                                        </label>
                                        <span class="form-control" ng-click="t.isChecked=!t.isChecked" style="width:133px;">Show Password </span>
                                    </div>
                            </div>*@
                    </div>
                    <div class="row" ng-show="Haserror">
                        <div class="col-md-12">
                            <div class="form-group errorbox">
                                <span>{{errormesg}} </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="dataLoading" class="Hourglass">
            @*<img src="~/Content/Images/hourglass .gif" />*@
        </div>
        <div class="row" style="margin-top:25%">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <center><img src="~/Content/Images/LoginCenterImag.jpg" /></center>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />


