﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionExpire</title>
</head>
<body>
    <div> 
        <script>
            alert("Session Exprire");
            window.location = ' @Url.Action("Login", "Account")';
        </script>
    </div>
</body>
</html>
