﻿

@{
    ViewBag.Title = "Individual Rep Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 55%;*/
        width: 86%;
        height: 560px;
    }
    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }

    .ngHeaderText {
        text-overflow: clip;
        white-space: normal;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function IndividualRep($scope, $http) {

        $http.post("@Url.Action("GetAPRepUsersList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });
        $scope.GetGridData = function () {
              $http.post("@Url.Action("GetGridData", "Representative")" + "?APRepId=" + $scope.APRep).then(function (Result) {
                if (Result.data) {
                    $scope.gridOptions.data = Result.data;
                }
            });
        }
  
        $scope.gridOptions = {
            enableFiltering: true,     
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            //columnDefs: [
            //    { field: 'VendorName', name: 'Vendor Name', width: 120 },
            //    { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 130},
            //    { field: 'Past6MonthCredit', name: 'Credit Holds                     (Past 6 Months)', cellClass: 'ngHeaderText rightalign', width: 160},
            //    { field: 'Past6MonthEscalations', name: 'Escalations (Past 6 Months)', cellClass: 'ngHeaderText rightalign', width: 160},
            //    { field: 'StatementRequestedDate', name: 'Most Recent Statement Date', cellClass: 'ngHeaderText centerright', width: 160},
            //    { field: 'SettlementDate', name: 'Most Recent Settlement Date', cellClass: 'ngHeaderText centerright', width: 160}
            //]

             columnDefs: [
                 { field: 'VendorName', name: 'Vendor Name', width: 160 },
                 { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign', width: 160, type: 'number' },
                 { field: 'Past6MonthCredit', name: 'Credit Holds (Past 6 Months)', cellClass: 'ngHeaderText rightalign', width: 250},
                 { field: 'Past6MonthEscalations', name: 'Escalations (Past 6 Months)', cellClass: 'ngHeaderText rightalign', width: 250 },
                 { field: 'StatementRequestedDate', name: 'Most Recent Statement Received Date', cellClass: 'ngHeaderText centerright', width: 330},
                 { field: 'SettlementDate', name: 'Most Recent Settlement Date', cellClass: 'ngHeaderText centerright', width: 270 }
            ]
        };
    }

    DeltaApp.controller("IndividualRep", IndividualRep);
</script>

<div ng-app="DeltaApp">
    <div ng-controller="IndividualRep">
        <div class="row Header" style="margin-left:0">
            <h2 class="Title">Vendor Rep Details</h2>
        </div>
        <div class="row"  style="margin-left:0">
            <div class="col-md-2" >                
                <div class="row">
                    <select class="form-control" ng-model="APRep" ng-change="GetGridData()" required name="APRepId">
                        <option value="" selected>- Select AP Representative -</option>
                        <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="Individual" class="top-buffer">
            <div id="gridIndividual" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
        </div>
    </div>
</div>

