﻿
@{
    ViewBag.Title = "RepresentativeVendorRef";
}


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        width: 54%;
        height: 580px;
    }

    .ngHeaderText {
        text-overflow: clip;
        white-space: normal;
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }
</style>

<script>
    function VendorRep($scope, $http) {
        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,

            columnDefs: [
                { field: 'APRepName', name: 'Vendor Rep  ', width: 190   },
                { field: 'VendorNumber', name: 'Vendor Number', cellClass: 'ngHeaderText rightalign',type: 'number', width: 190 },
                { field: 'VendorName', name: 'Vendor Name  ', width: 200 }

            ]
        };

         $http.post("@Url.Action("GetVendorRepRef", "Representative")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });
    }
    DeltaApp.controller("VendorRep", VendorRep);
</script>

<div ng-app="DeltaApp">
    <div class="row Header">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2 class="Title">
                Vendor Rep/Vendor X-ref
            </h2>
        </div>
        @*<div class="col-md-4"></div>*@
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div id="Vendor" ng-controller="VendorRep">
                <div id="gridVendor" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
            </div>
        </div>
        @*<div class="col-md-4"></div>*@
    </div>
</div>



