﻿
@{
    ViewBag.Title = "VendorRepSummary";
}

@{
    ViewBag.Title = "Vendor Rep Summery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
<link href="~/Content/Layout.css" rel="stylesheet" />

<style>
    .grid {
        /*width: 76%;*/
        width: 92%;
        height: 560px;
    }

    .ngHeaderText {
        text-overflow: clip;
        white-space: normal;   
    }

    .ui-grid-column-menu-button {
        visibility: hidden;
    }

    .ui-grid-cell-contents {
        white-space: pre-wrap;
    }

    .ui-grid-filter-container {
        padding: 4px 5px;
        position: relative;
    }

</style>

<script>
    function VendorRep($scope, $http) {
        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,

            //columnDefs: [
            //    { field: 'APRepName', name: 'APRep Name       ', width:150 },
            //    { field: 'PODName', name: 'Delta Pod     ', width: 100 },
            //    { field: 'ShiftId', name: 'Shift                                       (Regular or Night)', cellClass: 'ngHeaderText', width: 170 },
            //    { field: 'SupervisorName', name: 'Supervisor           ', width: 150 },
            //    { field: 'Credit', name: 'Credit Holds                    (Unresolved)', cellClass: 'ngHeaderText rightalign', width: 150, type: 'number'  },
            //    { field: 'Escalations', name: 'Escalations                          (Previous 30 Days)', cellClass: 'ngHeaderText rightalign', width: 180, type: 'number' },
            //    { field: 'Statements', name: 'Statements Missing  ', cellClass: 'ngHeaderText rightalign', width: 170, type: 'number' },
            //    { field: 'Assignment', name: 'No. of Vendors /                Letter Assignments', cellClass: 'ngHeaderText rightalign', width: 200, type: 'number'  }

            //]
            columnDefs: [
                { field: 'APRepName', name: 'APRep Name                     ',width:200},
                { field: 'PODName', name: 'Delta Pod                          ', width: 190},
                { field: 'ShiftId', name: 'Shift                                       (Regular or Night)', width: 190, cellClass: 'ngHeaderText'},
            { field: 'SupervisorName', name: 'Supervisor                              ', width: 208},
            { field: 'Credit', name: 'Credit Holds                    (Unresolved)', width: 180, cellClass: 'ngHeaderText rightalign',  type: 'number' },
            { field: 'Escalations', name: 'Escalations                          (Previous 30 Days)', width: 190, cellClass: 'ngHeaderText rightalign', type: 'number' },
                { field: 'Statements', name: 'Statements Missing (Current Month)', cellClass: 'ngHeaderText rightalign', width: 190,type: 'number' },
            { field: 'Assignment', name: 'No. of Vendors /                Letter Assignments', width: 180, cellClass: 'ngHeaderText rightalign',  type: 'number' }

            ]
        };

         $http.post("@Url.Action("GetVendorRepSummary", "Representative")").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
            }
        });
    }
    DeltaApp.controller("VendorRep", VendorRep);
</script>

<div ng-app="DeltaApp">
    <div class="row Header" style="margin-left:0">
        <h2 class="Title">Vendor Rep Summary</h2>
    </div>
    <div id="Vendor" ng-controller="VendorRep">
        <div id="gridVendor" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
    </div>
</div>

