﻿@model DeltaDashboardCommon.Domain.Reward
@{
    ViewBag.Title = "Reward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ToastMessage.css" rel="stylesheet" />

<script type='text/javascript'>
      function ToastMessage(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        x.innerHTML = msg;
        setTimeout(function () { x.className = x.className.replace("show", msg); }, 3000);
    };
    function RewardForm($rootScope, $scope, $http) {

        $http.post("/Reward/GetRewardList").then(function (Result) {
            if (Result.data) {
                $scope.gridOptions.data = Result.data;
                        }
        });
        var selectionCellTemplate = '<div class="ngCellText ui-grid-cell-contents">' +
            ' <div>{{COL_FIELD}}</div>' +
            '</div>';
        $rootScope.gridOptions = {

            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [15, 25, 50],
            paginationPageSize: 15,
            enableRowHeaderSelection: false,
            enableRowSelection: true,
            multiSelect: false,
            noUnselect: true,
            columnDefs: [
                { field: 'Category', name: 'Category        ', cellTemplate: selectionCellTemplate, width: 200 },
                { field: 'RewardTo', name: 'Reward To       ', cellTemplate: selectionCellTemplate, width: 180 },
                { field: 'RewardDateDisplay', name: 'Reward Date      ', cellTemplate: selectionCellTemplate, width: 140 },
                { field: 'Comments', name: 'Comments      ', cellTemplate: selectionCellTemplate, width: 250 },

            ]
        };

        $scope.RewardRadio = function (val) {

            if ($("input:radio[name=RewardTo]:checked").val() == 2)
            {
                 $http.post("@Url.Action("GetAPRepUsersList", "Reward")").then(function (Result) {
               if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });
            }
            else
            {
                 $http.post("@Url.Action("GetPODList", "Reward")").then(function (Result) {
               if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });
            }
        }

        $scope.RewardForm = function () {

            var comment = document.getElementById("txtComments").value;         
            var rewarddate = document.getElementById("RewardDate").value;

            var ddlCategory = document.getElementById("ddlCategory");
            var category = ddlCategory.options[ddlCategory.selectedIndex].text;
          
            var ddlUserName = document.getElementById("ddlUserName");
            var rewardTo = ddlUserName.options[ddlUserName.selectedIndex].text;
           
            var parameters = {
                Category: category,
                RewardTo: rewardTo,
                Comments: comment,
                RewardDate: rewarddate
            }
           
            $http.post("/Reward/Reward", parameters).then(function (Result) {
                if (Result.data) {
                    ToastMessage("Data Updated Successfully.");
                    $scope.ReloadReward();

                } else {
                    ToastMessage("Failed.");
                }
            });
        }


        $scope.ReloadReward = function () {
            setInterval(function () {

                window.location.href = '@Url.Action("Index", "Reward")';
            }, 3000);
        }
    };
     

    $(function () {

        $("#RewardDate").datepicker({ dateFormat : 'dd-mm-yy'});

        var today = new Date();
        $("#RewardDate").datepicker('option', 'maxDate', today);

    });
    DeltaApp.controller("RewardForm", RewardForm);
</script>

<style type="text/css">
    .grid {
        height: 400px;
    }
</style>

<div id="snackbar"></div>
<div ng-app="DeltaApp">
    <div class="container" ng-controller="RewardForm">
        @{ if (Session["Role"].ToString() == "4" || Session["Role"].ToString() == "3" || Session["Role"].ToString() == "5")
            {
                <div class="row ">
                    <div class="col-md-3"></div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row Header">
                                <h2 class="Title">Reward</h2>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>

                    <div class="col-md-6">
                        <div class="borderSection secoundBox">
                            <div class="col-md-12">
                                <div class="row  top-buffer">
                                    <div class="col-md-4 rightbuffer">
                                        <label class="container checkleft">
                                            <input type="radio" name="RewardTo" value="1" ng-click="RewardRadio()" />
                                            <span class="checkmark"> POD Team</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 rightbuffer">
                                        <label class="container checkleft1">
                                            <input type="radio" name="RewardTo" value="2" ng-click="RewardRadio()" />
                                            <span class="checkmark"> User Name</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row  top-buffer">
                                    <div class="col-md-6 rightbuffer">
                                        <div class="row">Reward To</div>
                                        <div class="row top-buffer">
                                            <select class="form-control" name="ddlUserName" id="ddlUserName" required>
                                                <option value="" selected>- Select Name -</option>
                                                <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 rightbuffer">
                                        <div class="row">Reward Date <span class="glyphicon glyphicon-calendar"></span></div>
                                        <div class="row top-buffer">
                                            @Html.TextBoxFor(o => o.RewardDate, new { @class = "form-control textboxtopmargin", @id = "RewardDate" })
                                            @Html.HiddenFor(o => o.RewardDate, new { @id = "RewardDate" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row top-buffer" id="dvReasonCH">

                                    <div class="col-md-6 rightbuffer">
                                        <div class="row">Category</div>
                                        <div class="row top-buffer">
                                            <select class="form-control" id="ddlCategory" name="ddlCategory">
                                                <option value="0" selected>- Select Category -</option>
                                                @*<option value="1">Most Improved Performer</option>
                                                <option value="2">The Star Employee</option>
                                                <option value="3">Achiever of the Month</option>
                                                <option value="4">Best Customer Centricity</option>
                                                <option value="5">The Ultimate Contributor</option>*@

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 rightbuffer">
                                        <div class="row">Reason for Reward</div>
                                        <div class="row top-buffer">
                                            <textarea id="txtComments" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <button class="btnPriStandard" style="float:left;" id="btnSubmitFeeback" ng-click="RewardForm()">Submit</button>                           
                        </div>
                    </div>

                    <div class="col-md-3"></div>
                </div>

            }

        }

        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ui-grid="gridOptions" style="width:100%; margin-left:18px;" ui-grid-pagination ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>