﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 992px) {
        .col-md-2 {
            width: 12.666667%;
        }
    }
</style>
<script>
    function DeltaDashController($rootScope, $scope, $http) {
          @*$http.post("@Url.Action("DeltaIndex", "DeltaDashboard")").then(function (Result) {
              if (Result.data) {
                  if (Result.data.isDeltaTeam) {
                      document.getElementById("dvTabSharedDrive").style.display = "block";
                  } else {
                      document.getElementById("dvTabSharedDrive").style.display = "none";
                  }
              }
        });*@
    }
    DeltaApp.controller("DeltaDashController", DeltaDashController);
</script>

<div ng-controller="DeltaDashController">
    <div class="row Header" style="margin-left:0">
        <h2 class="Title">Welcome To Delta Dashboard</h2>
    </div>
    <div class="top-buffer">
        <div class="row">
            <div class="col-md-3 Box">
                <a href="@Url.Action("VendorRepSummary", "Representative")" class="textdecoration">
                    <div class="col-md-12 Orderbox">
                        <h2>Vendor Representative Summary</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("IndividualRepDetail", "Representative")" class="textdecoration">
                    <div class="col-md-12 OrderboxRow">
                        <h2>Vendor Representative Detail </h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("CreditHoldStatus", "CreditHold")" class="textdecoration">
                    <div class="col-md-12 Orderbox">
                        <h2>Credit Hold Status</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("CreditHoldHistory", "CreditHold")" class="textdecoration">
                    <div class="col-md-12 OrderboxRow">
                        <h2>Credit Hold History</h2>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 Box">
                <a href="@Url.Action("ManageUser", "User")" class="textdecoration">
                    <div class="col-md-12 Orderbox">
                        <h2>
                            Delta  <br />Vendor Representative Management
                        </h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("RepresentativeVendorRef", "Representative")" class="textdecoration">
                    <div class="col-md-12 OrderboxRow">
                        <h2>
                            Vendor Representative/Vendor X-ref
                        </h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("EscalationStatus", "Escalation")" class="textdecoration">
                    <div class="col-md-12 Orderbox">
                        <h2>Escalation Status</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("EscalationHistory", "Escalation")" class="textdecoration">
                    <div class="col-md-12 OrderboxRow">
                        <h2>Escalation History</h2>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 Box">
                <a href="@Url.Action("Index", "ClientFeedback")" class="textdecoration">
                    <div class="col-md-12 Orderbox">
                        <h2>
                            Feedback for <br /> Delta Team
                        </h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3 Box">
                <a href="@Url.Action("DataProcessing", "DataProcessing")" class="textdecoration">
                    <div class="col-md-12 OrderboxRow">
                        <h2>
                            Feedback for <br /> Data Processing
                        </h2>
                    </div>
                </a>
            </div>
            @{ if (Session["Role"].ToString() == "4" || Session["Role"].ToString() == "3" || Session["Role"].ToString() == "5")
                {
                    <div class="col-md-3 Box">
                        <a href="@Url.Action("ManageVendor", "Vendor")" class="textdecoration">
                            <div class="col-md-12 Orderbox">
                                <h2>
                                    Vendor Management
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 Box">
                        <a href="@Url.Action("Index", "Export")" class="textdecoration">
                            <div class="col-md-12 OrderboxRow">
                                <h2>
                                    Export
                                </h2>
                            </div>
                        </a>
                    </div>

                    @*Added by Shraddha on 15-Jun-2022 *@
                    <div class="row" style="margin-inline:auto;">
                        <div class="col-md-3 Box">
                            <a href="@Url.Action("Index", "Reward")" class="textdecoration">
                                <div class="col-md-12 Orderbox">
                                    <h2>
                                        Reward
                                    </h2>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 Box">
                        <a href="@Url.Action("Index", "Export")" class="textdecoration">
                            <div class="col-md-12 Orderbox">
                                <h2>
                                    Export
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 Box">
                        <a href="@Url.Action("Index", "Reward")" class="textdecoration">
                            <div class="col-md-12 OrderboxRow">
                                <h2>
                                    Reward
                                </h2>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
            <br /><br /><br />
        </div>
</div>

