﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(function () {


        $("#SubmittedDate").datepicker();
        $("#AssignedDate").datepicker();




    });
</script>

<script>
    function InvoiceCheckListController($rootScope, $scope, $http) {
          $http.post("@Url.Action("GetAPRepUsersList", "CreditHold")").then(function (Result) {
            if (Result.data) {
                $scope.APRepUsersList = Result.data;
            }
        });

    }

    DeltaApp.controller("InvoiceCheckListController", InvoiceCheckListController);

</script>

<style>
            .colpadding {
                padding - left: 30px;
        padding-right: 30px;
    }
</style>
<style>
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    /* Hide the browser's default checkbox */
                    .container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border: 1px solid;
                }

                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                    background-color: #ccc;
                }

                /* When the checkbox is checked, add a blue background */
                .container input:checked ~ .checkmark {
                    background-color: #2196F3;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                .container input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .container .checkmark:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                .table  {
                                border: 1px solid #ccc;
                }


                .tableheading {
                                font - size: 22px;
                    margin-top: 50px;
                    font-weight: 700;
                    color: #d3362d;
                }
                .btnPriStandard {
                                width: unset;
                }
                .blnkrow {
                    height: 1385px;
                }

                .blnkrow1 {
                    height: 1415px;
                }
</style>
<div ng-controller="InvoiceCheckListController">
            <div class="row Header" style="margin-left:0">
                <center> <h2 class="Title">Where is my Invoice in the AP Process? </h2></center>
            </div>
            <div class="row">
                <div class="col-md-3 colpadding">
                    <div class="row ">
                        Submitted by:
        </div>
                    <div class="row">
                        <select class="form-control" ng-model="APRep" ng-change="GetVendorList()" id="APRepId" required name="APRepId">
                            <option value="" selected>- Select -</option>
                            <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 colpadding">
                    <div class="row ">
                        Date:
        </div>
                    <div class="row">
                        <input type="text" class="form-control" id="SubmittedDate" />
                    </div>
                </div>
                <div class="col-md-3 colpadding">
                    <div class="row ">
                        Assigned to:
        </div>
                    <div class="row">
                        <select class="form-control" ng-model="APRep" ng-change="GetVendorList()" id="APRepId" required name="APRepId">
                            <option value="" selected>- Select -</option>
                            <option ng-repeat="List in APRepUsersList" value="{{List.Id}}">{{List.FullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 colpadding">
                    <div class="row ">
                        Date:
        </div>
                    <div class="row">
                        <input type="text" class="form-control" id="AssignedDate" />
                    </div>
                </div>
            </div>


            <div class="row top-buffer">
                <div class="col-md-4 colpadding">

                    <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col">Where is my Invoice?</th>
                                    <th scope="col" width="100"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        Do I have the vendor number?

                        </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Do I have the invoice copy?
                        </td>
                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                    <tr>
                                        <td>
                                            Is this 3WM invoice?



                        </td>
                                        <td>
                                            <label class="container">
                                                <input type="checkbox" >
                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                        <tr>
                                            <td>
                                                Is this CT invoice?
                        </td>
                                            <td>
                                                <label class="container">
                                                    <input type="checkbox" >
                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                            <tr>
                                                <td>
                                                    Is this vendor EDI?

                        </td>
                                                <td>
                                                    <label class="container">
                                                        <input type="checkbox" >
                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                <tr>
                                                    <td>
                                                        Is this vendor Non-EDI?


                        </td>
                                                    <td>
                                                        <label class="container">
                                                            <input type="checkbox" >
                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                    <tr>
                                                        <td>
                                                            If EDI, is the invoice in Business object?


                        </td>
                                                        <td>
                                                            <label class="container">
                                                                <input type="checkbox" >
                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                        <tr>
                                                            <td>
                                                                Is this invoice in E-store?


                        </td>
                                                            <td>
                                                                <label class="container">
                                                                    <input type="checkbox" >
                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                            <tr>
                                                                <td>
                                                                    Have we matched the invoice in 3WM line item queue?


                        </td>
                                                                <td>
                                                                    <label class="container">
                                                                        <input type="checkbox" >
                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                <tr>
                                                                    <td>
                                                                        Have we checked Matching Exception Monitoring (E-store)?



                        </td>
                                                                    <td>
                                                                        <label class="container">
                                                                            <input type="checkbox" >
                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            Have we sent an email to store for Matching Exception Monitoring?



                        </td>
                                                                        <td>
                                                                            <label class="container">
                                                                                <input type="checkbox" >
                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Have we released the invoice from CT release Screen Queue?
                        </td>
                                                                            <td>
                                                                                <label class="container">
                                                                                    <input type="checkbox" >
                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                            <tr>
                                                                                <td>IF EDI, invoice is not in Business Object? </td>
                                                                                <td>
                                                                                    <label class="container">
                                                                                        <input type="checkbox">
                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                <tr>
                                                                                    <td>Is EDI retransmission request sent to Vendor? </td>
                                                                                    <td>
                                                                                        <label class="container">
                                                                                            <input type="checkbox">
                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                    <tr>
                                                                                        <td>Have we matched the invoice in 3WM line item queue? </td>
                                                                                        <td>
                                                                                            <label class="container">
                                                                                                <input type="checkbox">
                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                        <tr>
                                                                                            <td>Have we checked Matching Exception Monitoring (E-store)? </td>
                                                                                            <td>
                                                                                                <label class="container">
                                                                                                    <input type="checkbox">
                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                            <tr>
                                                                                                <td>Have we sent email to store for Matching Exception Monitoring? </td>
                                                                                                <td>
                                                                                                    <label class="container">
                                                                                                        <input type="checkbox">
                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                <tr>
                                                                                                    <td>Have we requested invoice copy for CT Release? </td>
                                                                                                    <td>
                                                                                                        <label class="container">
                                                                                                            <input type="checkbox">
                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                    <tr>
                                                                                                        <td>Have we released the invoice from CT release Screen Queue? </td>
                                                                                                        <td>
                                                                                                            <label class="container">
                                                                                                                <input type="checkbox">
                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                        <tr>
                                                                                                            <td> </td>
                                                                                                            <td>
                                                                                                                <label class="container">
                                                                                                                    <input type="checkbox">
                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                            <tr>
                                                                                                                <td>If Non-EDI, Is this invoice in E-Store? </td>
                                                                                                                <td>
                                                                                                                    <label class="container">
                                                                                                                        <input type="checkbox">
                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                <tr>
                                                                                                                    <td>Have we matched the invoice in 3WM line item queue? </td>
                                                                                                                    <td>
                                                                                                                        <label class="container">
                                                                                                                            <input type="checkbox">
                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                    <tr>
                                                                                                                        <td>Have we checked Matching Exception Monitoring (E-store)? </td>
                                                                                                                        <td>
                                                                                                                            <label class="container">
                                                                                                                                <input type="checkbox">
                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                        <tr>
                                                                                                                            <td>Have  we sent an email to store for Matching Exception Monitoring? </td>
                                                                                                                            <td>
                                                                                                                                <label class="container">
                                                                                                                                    <input type="checkbox">
                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                            <tr>
                                                                                                                                <td>Have we released the invoice from CT release Screen Queue? </td>
                                                                                                                                <td>
                                                                                                                                    <label class="container">
                                                                                                                                        <input type="checkbox">
                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                <tr>
                                                                                                                                    <td> </td>
                                                                                                                                    <td>
                                                                                                                                        <label class="container">
                                                                                                                                            <input type="checkbox">
                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                    <tr>
                                                                                                                                        <td>If Non-EDI, Is this  invoice not in E-Store? </td>
                                                                                                                                        <td>
                                                                                                                                            <label class="container">
                                                                                                                                                <input type="checkbox">
                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                        <tr>
                                                                                                                                            <td>Is the invoice send to APVendorinvoice scanning Team for Scanning? </td>
                                                                                                                                            <td>
                                                                                                                                                <label class="container">
                                                                                                                                                    <input type="checkbox">
                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                            <tr>
                                                                                                                                                <td>Have we  have matched the invoice in 3WM line item queue? </td>
                                                                                                                                                <td>
                                                                                                                                                    <label class="container">
                                                                                                                                                        <input type="checkbox">
                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                <tr>
                                                                                                                                                    <td>Have we checked Matching Exception Monitoring (E-store)? </td>
                                                                                                                                                    <td>
                                                                                                                                                        <label class="container">
                                                                                                                                                            <input type="checkbox">
                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                    <tr>
                                                                                                                                                        <td>Have we  have sent an email to store for Matching Exception Monitoring? </td>
                                                                                                                                                        <td>
                                                                                                                                                            <label class="container">
                                                                                                                                                                <input type="checkbox">
                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                        <tr>
                                                                                                                                                            <td>Have we released the invoice from CT release Screen Queue? </td>
                                                                                                                                                            <td>
                                                                                                                                                                <label class="container">
                                                                                                                                                                    <input type="checkbox">
                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                            <tr>
                                                                                                                                                                <td> </td>
                                                                                                                                                                <td>
                                                                                                                                                                    <label class="container">
                                                                                                                                                                        <input type="checkbox">
                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                <tr>
                                                                                                                                                                    <td>Do we  need to pay the invoice manually via apron? </td>
                                                                                                                                                                    <td>
                                                                                                                                                                        <label class="container">
                                                                                                                                                                            <input type="checkbox">
                                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                    <tr>
                                                                                                                                                                        <td>Have we  have a requested POD Copy? </td>
                                                                                                                                                                        <td>
                                                                                                                                                                            <label class="container">
                                                                                                                                                                                <input type="checkbox">
                                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                        <tr>
                                                                                                                                                                            <td>Have we  checked the receiver correction screen? </td>
                                                                                                                                                                            <td>
                                                                                                                                                                                <label class="container">
                                                                                                                                                                                    <input type="checkbox">
                                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                            <tr>
                                                                                                                                                                                <td>Have we  checked the CT support screen for CT invoice? </td>
                                                                                                                                                                                <td>
                                                                                                                                                                                    <label class="container">
                                                                                                                                                                                        <input type="checkbox">
                                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td>Have we  sent 72 hr email? </td>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        <label class="container">
                                                                                                                                                                                            <input type="checkbox">
                                                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                    <tr>
                                                                                                                                                                                        <td>Have we attached all required back up documents-72hr email,POD copy,receiver print screen for Apron? </td>
                                                                                                                                                                                        <td>
                                                                                                                                                                                            <label class="container">
                                                                                                                                                                                                <input type="checkbox">
                                                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                        <tr>
                                                                                                                                                                                            <td>Have we  sent it for approval? </td>
                                                                                                                                                                                            <td>
                                                                                                                                                                                                <label class="container">
                                                                                                                                                                                                    <input type="checkbox">
                                                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                            <tr>
                                                                                                                                                                                                <td>Have we  checked the Apron status? </td>
                                                                                                                                                                                                <td>
                                                                                                                                                                                                    <label class="container">
                                                                                                                                                                                                        <input type="checkbox" >
                                                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

                                                                                                                                                                                <div class="col-md-4 colpadding">

                                                                                                                                                                                    <div class="row">
                                                                                                                                                                                        <table class="table">
                                                                                                                                                                                            <thead >
                                                                                                                                                                                                <tr>

                                                                                                                                                                                                    <th scope="col">Where is my Receiver?</th>
                                                                                                                                                                                                    <th scope="col" width="100"></th>
                                                                                                                                                                                                </tr>
                                                                                                                                                                                            </thead>
                                                                                                                                                                                            <tbody>
                                                                                                                                                                                                <tr>

                                                                                                                                                                                                    <td>
                                                                                                                                                                                                        Do we  have the receiver number?


                        </td>
                                                                                                                                                                                                    <td>
                                                                                                                                                                                                        <input type="text" class="form-control" />
                                                                                                                                                                                                    </td>

                                                                                                                                                                                                </tr>
                                                                                                                                                                                                <tr>
                                                                                                                                                                                                    <td>
                                                                                                                                                                                                        Is the full receiver available for this invoice?

                        </td>
                                                                                                                                                                                                    <td>
                                                                                                                                                                                                        <label class="container">
                                                                                                                                                                                                            <input type="checkbox" >
                                                                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                    <tr>
                                                                                                                                                                                                        <td>
                                                                                                                                                                                                            Have we matched it?




                        </td>
                                                                                                                                                                                                        <td>
                                                                                                                                                                                                            <label class="container">
                                                                                                                                                                                                                <input type="checkbox" >
                                                                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                Have we sent the 72 hrs email to store for creation of Partial Receiver?


                        </td>
                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                <label class="container">
                                                                                                                                                                                                                    <input type="checkbox" >
                                                                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                            <tr>
                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                    If there is no receiver available for this invoice?


                        </td>
                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                    <label class="container">
                                                                                                                                                                                                                        <input type="checkbox" >
                                                                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                                                <tr>
                                                                                                                                                                                                                    <td>
                                                                                                                                                                                                                        Have you sent 72 hrs email to store for creation of Receiver?



                        </td>
                                                                                                                                                                                                                    <td>
                                                                                                                                                                                                                        <label class="container">
                                                                                                                                                                                                                            <input type="checkbox" >
                                                                                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                                                    <tr>
                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                            Have we  followed up on the apron process after sending 72 hr email?



                        </td>
                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                            <label class="container">
                                                                                                                                                                                                                                <input type="checkbox" >
                                                                                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>


                                                                                                                                                                                                                        <tr class="blnkrow"><td></td> <td></td> </tr>






                </tbody>
            </table>
        </div>
    </div>

                                                                                                                                                                                                        <div class="col-md-4 colpadding">

                                                                                                                                                                                                            <div class="row ">
                                                                                                                                                                                                                <table class="table">
                                                                                                                                                                                                                    <thead class="thead-dark">
                                                                                                                                                                                                                        <tr>

                                                                                                                                                                                                                            <th scope="col">When vendor can expect payment for Invoice?</th>
                                                                                                                                                                                                                            <th scope="col" width="100"></th>
                                                                                                                                                                                                                        </tr>
                                                                                                                                                                                                                    </thead>
                                                                                                                                                                                                                    <tbody>

                                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                                Is this invoice in Lawson?

                        </td>
                                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                                <label class="container">
                                                                                                                                                                                                                                    <input type="checkbox" >
                                                                                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                                            <tr>
                                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                                    Is this invoice Paid?




                        </td>
                                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                                    <label class="container">
                                                                                                                                                                                                                                        <input type="checkbox" >
                                                                                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                                                <tr>
                                                                                                                                                                                                                                    <td>
                                                                                                                                                                                                                                        Have we provided the payment info to Vendor (payment#/payment date)?

                        </td>
                                                                                                                                                                                                                                    <td>
                                                                                                                                                                                                                                        <label class="container">
                                                                                                                                                                                                                                            <input type="checkbox" >
                                                                                                                                                                                                                                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                                                                                                                                                                                                                                    <tr>
                                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                                            Is this invoice unpaid?

                        </td>
                                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                                            <label class="container">
                                                                                                                                                                                                                                                <input type="checkbox" >
                                                                                                                                                                                                                                                    <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                                                Was the payment schedule of vendor verified on the Check run Calendar?



                        </td>
                                                                                                                                                                                                                                            <td>
                                                                                                                                                                                                                                                <label class="container">
                                                                                                                                                                                                                                                    <input type="checkbox" >
                                                                                                                                                                                                                                                        <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                                                                            <tr>
                                                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                                                    Have we  have provided the payment info to Vendor based on check run calendar?

                        </td>
                                                                                                                                                                                                                                                <td>
                                                                                                                                                                                                                                                    <label class="container">
                                                                                                                                                                                                                                                        <input type="checkbox" >
                                                                                                                                                                                                                                                            <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>

                                                                                                                                                                                                                                                <tr class="blnkrow1"><td></td> <td></td> </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

                                                                                                                                                                                                                            <div class="row top-buffer">
                                                                                                                                                                                                                                <center>  <button class="btnPriStandard">Save, still working</button> <button class="btnPriStandard">Submit/Close issue.</button></center>
   </div>                                                                                                                                                                                                                         </div>
                                                                                                                                                                                                                            <br /><br /><br /><br /><br /><br />

